<div id="view-2-2-expl">
  <h3><span class="season"/> <span class="variable"/> by Decade</h3>
  <p>This <a href="http://en.wikipedia.org/wiki/Box_plot">box plot</a> represents the range of <span class="variable"/> values for <span class="season"/> as shown by Irish climate <a href="/ci/climate-change/projections-ireland">projections</a>.
    For each decade, the mean of all projections is shown, as well as the max and min projected values. The thick bar represents the range within which a half of all projected values lie.</p>

  <p class="if-temperature">Temperature represents the projected temperature at 2 metres above the ground. It is shown as the difference in degrees Celsius from the 1961-1990 baseline.</p>

  <p class="if-precipitation">Precipitiation is shown as a percentage difference from the 1961-1990 baseline.</p>
</div>
<div id="map-help">
<b>Viewing Projected Climate Data for Ireland</b>
<p>Averaged <a href="/ci/climate-change/climate-modelling#down-scaling">down-scaled climate projection data</a> for Ireland can be displayed in the map above. These data can be displayed according to region (on a provincial or county basis), for a range of time periods, on a seasonal or annual basis, and according to <a href="/ci/climate-change/climate-modelling#emission-scenarios">emissions scenario/s</a>.</p>   
</div>

<div id="climate-info-projections">
<p>Climate projections provide a means of assessing how change in climate might affect you and will help you to develop robust evidence-based adaptation plans.  You can examine Ireland's projections of Ireland's future climate using maps and graphs. 

The map to the left shows climate model projections for the period you selected.  These projections can be viewed as an ensemble of model projections where climate model results are averaged or on the basis of individual model projections.  The right hand box-plot shows the range of the projected values for the area you selected and on a decadal basis. 

More information and term explanations can be found here.
</p> 