<div id="view-2-2-expl">
  <h3><span class="season"/> <span class="variable"/> by Decade</h3>
  <p>This <a href="http://en.wikipedia.org/wiki/Box_plot">box plot</a> represents the range of <span class="variable"/> values for <span class="season"/> as shown by Irish climate <a href="/ci/climate-change/projections-ireland">projections</a>.
    For each decade, the mean of all projections is shown, as well as the max and min projected values. The thick bar represents the range within which a half of all projected values lie.</p>

  <p class="if-temperature">Temperature represents the projected temperature at 2 metres above the ground. It is shown as the difference in degrees Celsius from the 1961-1990 baseline.</p>

  <p class="if-precipitation">Precipitiation is shown as a percentage difference from the 1961-1990 baseline.</p>
</div>
