<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      About
    </title>
  </head>
  <body>
    <p>
      <h2 align="center">Adaptation Information at your fingertips</h2>
    </p>
    <p>
      It is now clear that <b>climate change is already underway</b> and the situation is <b>urgent</b>.  In order to deal with worst consequences of climate change, <b>adaptation is now required</b>.  
    </p>
    
    <p>
      <b>'Climate Ireland'</b> will help you to plan for adaptation to climate change by <b>raising your awareness</b> about climate change and adaptation, <b>providing you with the information and data</b> that you will require to plan for adaptation and through the provision of the <b>necessary guidane and tools</b> to employ this information and data in your planning.  
    </p>
    <div id="text-box">
      <b>What do you want to do?</b>
      <ul>
	<li><a href="http://www.climateireland.ie/ci/climate-change/what-is-climate-change">Learn more about climate change</li></a>
	<li><a href="http://www.climateireland.ie/ci/adaptation/climate-adaptation">Learn more about adaptation to climate change</a></li>
	<li><a href="http://www.climateireland.ie/ci/welcome/svg/202130/JJA/ensemble/ensemble/T_2M/linear">Explore climatic information and data<a></li>
	<li><a href="http://www.climateireland.ie/ci/sectors/sectors">Explore how climate change might impact upon your sector</a></li>
	<li><a href="http://www.climateireland.ie/ci/resources/resources">Explore a range of resources to help you develop your adaptation plan</a></li>
	
    </div>
</body>
