<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			About
		</title>
	</head>
	<body>
	<p>
	<h2 align="center">Adaptation Information at your fingertips</h2>
</p>

<p>
"Adaptation to climate change refers to adjustment in natural or human systems in response to actual or
expected climatic stimuli or their effects, which moderates harm or exploits beneficial opportunities" (IPCC, 2001)
</p>
<p>
It is now clear that climate is changing and that the sitution is urgent. Because climate change is already underway and, due to our long history of green house gas emissions, will continue in the future regardless of our attempts to reduce global emission.  Adaptation to climate change is now required to offset the worst effects of climate change.  
</p>
<p>
'Climate Ireland' provides a web-based resources of climatic and adaptation information and data to facilitate sectoral and regional decision makers in adapting to climate change.  In doing this, Climate Ireland will:
</p>
<p>
<ol>
<li><b>Raise awareness about Climate Change and Adaptation</b> by providing the information required to understand what climate change is, what it means for us and how we can adapt to the consequences of our changing climate;</li>
<li><b>Provide the information required to plan for adaptation to climate change.</b>  Decisions on adaptation should be based upon robust scientific reserach into climate change and its impacts. </li>
<li><b>Provide decision-makers with support for planning for adaptation to climate change</b> including tools, methods and frameworks to help you understand current climate, existing and future vulnerabilitiesm and plan for adaptation</li>
</p>
</body>
