<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Adaptation
		</title>
	</head>
	<h2>Climate Adaptation</h2>
	<p>
	Climate is changing and in order to meet the impacts and opportunities presented by these changes, adaptation is now required
	</p>
	<p>Climate is changing and even if levels of greenhouse gas emissions decrease rapidly, 
	there will still be some inevitable effects of climate change.  This is due to our history of 
	greenhouse gas emission, the persistence of these gases in the atmosphere and the slow warming 
	of the oceans. The slow response of the oceans mean that temperatures and sea level will continue 
	to rise for several decades regardless of our efforts to reduce emissions of greenhouse gases.  
	Our efforts to reduce the levels of greenhouse gas emission in order to prevent the worst effects 
	of climate change are known as mitigating actions.  However, in order to protect from the now 
	inevitable consequences of climate change, adaptation actions are essential.  
	The IPCC defines adaptation as: "adjustments in natural or human systems in response to actual 
	or expected climatic stimuli and their effects, which moderate harm or exploit beneficial opportunities".
	In order to adjust to and to take advantage of the consequences of climate change, it is essential that 
	we build our capacity to adapt (adaptive capacity).</p>  
	<h3>Why Adapt?</h3>
	<p>
	Climate is changing and will have both direct and indirect effects on all aspects of Ireland's economy, society, and environment 
	and being prepared for being prepared for these change is important, helping to reduce uncertainty and potential impacts by 
	identifying risks, options and starting the adaptation process 
	</p>
	<h3>How to Adapt?</h3>
	<p>Initiate adaptation</p>
	<p>Build Knowledge and awareness</p>
	<p>Identify and cooperate with relevant stakeholders</p>
	<p>Work with uncertaintues</p>
	<p>Explore potential climate change impacts and vulnerabilities and identify priority areas of concern</p>
	<p>Explore a wide spectrum of adaptation options</p>
	<p>Prioritise adaptation options</p>
	<p>Modify existing policies, structures and processes</p>
	<p>Avoid maladaptation</p>
	<p>Monitor and evaluate systematically</p>
	<h3>Principles of Good Practice in Adaptation</h3>
	<p>For most countries in Europe and at an EU-wide level, acknowledged guiding principles for good practice 
	adaptation are still lacking.  However, existing national plans for some countries do include principles of 
	good practice in adaptation.  The UK, as a front runner in climate adaptation, has published Defra's Climate 
	Change Plan 2010 which includes key principles, that Central government as well as organisations in the wider
	public and private sectors shall take account of (HM Government, 2010):
	<ul><li>Any adaptation needs to be sustainable. This means that our responses should not add to
	climate change, or limit the ability of other parts of the natural environment, society or
	business to carry out adaptation elsewhere. Our responses must avoid any detrimental
	impacts on other parts of society, the economy or the natural environment.</li>
	<li>Actions should be flexible. Although there is still uncertainty over the future climate, we
	should consider options now and make decisions that maximise future flexibility – in many
	cases it is failure to take decisions that locks us into inflexible pathways.</li>
	<li>Action needs to be evidence-based – making full use of the latest research, data and
	practical experience so that decision-making is well-supported and informed.</li>
	<li>Our response to climate impacts should be prioritized – for example, by focusing more
	attention on policies, programmes and activities that are most affected by the weather
	and climate, those which have long-term lifetimes or implications, where significant
	investment is involved or high values are at stake, or where support for critical national
	infrastructure is involved.</li>
	<li>Adaptation measures need to be effective (reducing the risks from climate change without
	introducing perverse effects), efficient (the long-term benefits of adaptation actions
	should outweigh the costs), and equitable (the effects of the activity on different groups
	and where the costs should fall should be taken into account).</li>
	</ul>
	<p>
	Adaptation Types
	</p>
	<p>
	
	</p>
	