<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			About
		</title>
	</head>
	<body>
	<p>
	<h2 align="center">Adaptation Information at your fingertips</h2>
	</p>
<p>
It is now clear that <b>climate change is already underway</b> and the situation is <b>urgent</b>.  In order to deal with worst consequences of climate change, <b>adaptation is now required</b>.  
</p>
<b>"Adaptation to climate change refers to adjustment in natural or human systems in response to actual or
expected climatic stimuli or their effects, which moderates harm or exploits beneficial opportunities" (IPCC, 2001)</b>
<p>
<b>'Climate Ireland'</b> provides a web-based resources of <b>climatic and adaptation information and data</b> to enable sectoral and regional decision makers to <b>plan for adaptation</b> to climate change.  In doing this, Climate Ireland will:
</p>
<p>
<ol>
<li><b>Raise awareness</b> about Climate Change and Adaptation; </li>
<li>Provide the <b>information</b> required to plan for adaptation to climate change;</li>
<li>Provide decision-makers with <b>support</b> for planning for adaptation to climate change.</li>
</body>
