<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Adaptation</title>
  </head>
  <div class="buttons">
    <ul>
      <li><a href="climate-adaptation">Climate Adaptation</a></li>
      <li><a href="why-adapt">Why Adapt?</a></li>
      <li><a href="adaptation-actions">Adaptation Actions</a></li>
      <li><a href="how-to-adapt">How to Adapt</a></li>
    </ul>
  </div>
  
  <div id="adaptation">
  <h2>Climate Adaptation</h2>
  <p>Climate is changing and the situation is now urgent.  <b>In order to offset the worst effects of climate change and take advantage of the opportunities presented by climate change, adaptation is now required</b></p>
  <p>Adaptation is defined as <b>"adjustments in natural or human systems in response to actual or expected climatic stimuli and their effects, which moderate harm or exploit beneficial opportunities"</b> (IPCC 2007)
  </p>
  <div id="text-box-center">
  <b>What do you want to do?</b>
  <ul>
  <li><a href="climate-adaptation">Learn more about climate adaptation.</a></li>
  <li><a href="why-adapt?">Examine the reasons why you should adapt.</a></li>
  <li><a href="adaptation-actions">Learn more about taking actions to adapt.</a></li>
  <li><a href="how-to-adapt">Examine how you might go about develop a plan for adaptation.</a></li>
  </ul>
  </div>
  </div>
  
  <div id="climate-adaptation">
    <a name="Climate Adaptation">
      
      <h2>Climate Adaptation</h2></a>
    <p>
      
      <b>Climate is changing and in order to address the impacts and take advantage of opportunities presented by these changes, adaptation is now required.</b> 
	  <div class="picture right"> 
	  <img src="/img/mitigation-adaptation.jpg"/> <br/>Mitigation actions result in decreased levels of greenhouse gas emissions, decreasing the extent of future climate change.  However, due to greenhouse gases already emitted, climate change and its affects are inevitable.  Adaptation actions aim to reduce the impacts of climate change and also to take advantage of the opportunities presented by climate change</div>
    </p>
	<p>
	  Greenhouse gases persist in the atmosphere for hundreds of years, so even if we were to stop emitting them tomorrow, the climatic effects of these emissions would stay with us for the foreseeable future. To further compound the inevitability of the climate impacts, a long and slow process of warming of the Earth's oceans has been underway for many decades, a process that will ensure temperatures and sea levels will continue to rise throughout the century. 
	<p>
	  <b>As a result, regardless of our efforts to reduce greenhouse gas emissions (known as mitigating actions)in order to prevent the worst effects of climate change , adaptation actions are now essential.</b>
	</p>
	<p>
	&nbsp
	</p>
    <p>
    In their fourth Assessment Report, <a href="http://www.ipcc.ch/" target="_blank">the IPCC</a> (2007) defines adaptation as: "adjustments in natural or human systems in response to actual or expected climatic stimuli and their effects, which moderate harm or exploit beneficial opportunities". 
      
	</p>
    <p>
	<div class="picture right"> 
	  <img src="/img/Vulnerability.jpg"/> <br/>The potential impact of climate change reflects the likelihood of exposure to a climate hazard in combination with the sensitivity to the affects of a climate hazard.  Vulnerability is a function of the potential impact of a climate hazard and also the capacity to adapt to the potential impact</div>
   
      <p>
	  The <b>aim of adaptation is to reduce society's vulnerability to the impacts of climate change</b> by anticipating changes in climatic conditions and the effects of these changes. <b>Vulnerability is the degree to which a system is susceptible to, and unable to cope with, adverse effects of climate change, including climate variability and extremes (IPCC 2007)</b>.
	  </p>
      
	<p>Vulnerability is thus a function of:</p> 
	
	<ul>
	  <li><b>Exposure</b> to climate hazard,</li>
	  <li><b>Sensitivity</b> to climate hazard,</li>
	  <li><b>Capacity</b> to adapt.</li>
	</ul>
    </p>
	
	<div id="text-box-2">
	<ul>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,27091,en.html" target="_blank">A Summary of the State of Knowledge on Climate Change Impacts for Ireland (2009)</a>
		<p>
		In this report, the current state of knowledge on climate change and its impacts for Ireland are reviewed and summarised.  Expected impacts are detailed according to the important economic sectors for Ireland.
		</p>
		</li>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,31493,en.html" target="_blank">Integrating Climate Change Adaptation into Sectoral Policies in Ireland (2012)</a>
		<p>
		In this report, the policy context within which adaptation to climate change will take place is reviewed.  The focus of the report is on the integration of climate change adaptation into sectoral policies.
		</p>
		</li>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,31491,en.html" target="_blank">Ireland Adapts to Climate Change (2012)</a>
		<p>In this report, the main findings of the National Adaptive Capacity (NAC) assessment are outlined and recommendations on how adaptive capacity might be enhanced are made.</li>
		
		</ul>
	</div>	
    
  </div>
  
  <div id="why-adapt">
    <a name="Why Adapt?">
      <h2>Why Adapt?</h2></a>
    <p>
      <center>
	<b>Irrespective of the level of mitigation, adaptation is necessary to avoid or reduce the negative impacts and to explore any potential benefits of climate change <a href="http://www.ceps.eu/ceps/download/1495" target="_blank">(CEPS 2008)</a></b>
      </center>
    </p>
    <p>
	<div class="picture right"> 
	  <img src="/img/Ireland-snow.jpg"/> <br/></div>
    
      Climate change will have both direct and indirect effects on all aspects of Ireland's economy, society, and environment.  Human and natural systems will adapt to climate change autonomously to some degree.  However, <b>planned adaptation which involves decisions and measures within society to respond to the adverse impacts and opportunities presented by climate change is required</b>.  Moreover, adaptation will allow us to take advantage of the opportunities presented by climate change <b>starting with the opportunity to avoid the considerable costs that climate change will pose.</b>
    </p>
    <p>
      <b>Being prepared</b> for these changes is important and will help to <b>reduce uncertainty and costs</b> that climate change will pose.  We can act to limit the potential impacts of climate change by <b>identifying risks, evaluating options and starting the adaptation process early</b> enough to ensure that as many alternatives as possible remain available to us.
    </p>
	<p>
	<b>As a result of uncertainties, there is a risk of adopting a wait and see approach</b>.  While <b>the early detection of climate change is important</b> in meeting the challenges of climate change, <b>delaying action until these climate change signals emerge from records is problematic</b>.  Detection of climate change at regional and local scales is difficult due to the relatively weak climate change signal when compared with large inter-annual variability of climate indicators.  As a result, <b>with robust climate change signals unlikely to emerge with in the timescale required for adaptation, it is essential that progress on adaptation is made under conditions of uncertainty</b>.</p>
	
    <p><b>Successful adaptation does not mean that the negative impacts of climate change will not occur, only that they will be less severe than had no adaptation taken place</b>.
    </p> 
    <p>
      The goals of adaptation might include:
    </p>
    <ul>
      <li><b>Alleviating the current impacts</b> of climate change;</li>
      <li><b>Reducing sensitivity and exposure</b> to climate change;</li>
      <li><b>Increasing resilience</b> to climate and non-climatic stressors;</li>
	  <li><b>Identifying opportunities</b>.</li>
</li>
</p>
</div>

<div id="adaptation-actions">
  <a name="Adaptation Actions">
	<h2>Adaptation Actions</h2></a>
	<p>
	Adaptation actions aim to manage climate risk at an acceptable level and to take advantage of opportunities that may arise.  Broadly, adaptation actions can be classified as:
	</p>
	<ul>
	<li><b>Planned adaptation</b> which involves action in advance of observed climate changes.  This might also be known as proactive adaptation.</li>
	<li><b>Reactive adaptation</b> which involves action in response/after weather phenomena has exposed ones vulnerability.</li>
	</ul>
	<p>In adapting to the challenges of climate change, <b>a number of strategies have been identified that are robust to uncertainty</b> and these include: 
	</p>
	<ul>
	<li>Strategies that are <b>low regret</b> being functional and providing benefits under a wide range of climate futures;</li>
	<li>Strategies that are <b>reversible</b> in that costs are kept to a minimum in the case of being wrong;</li>
	<li>Strategies that <b>provide safety margins</b> which allow for climate change in the design or retrofitting of infrastructures;</li>
	<li>Strategies that are <b>soft</b> by avoiding the need for expensive engineering and institutionalise a long-term perspective in planning;</li>
	<li>Strategies that <b>reduce the time horizons of investments</b>; and</li>
	<li>Strategies that are <b>flexible</b> and <b>mindful of actions that are being taken by others</b> to either mitigate or adapt to climate change.</li>
	</ul>
	<p>
	Adaptation incorporates both steps to <b>build adaptive capacity</b> and to <b> implement adaptive actions</b>.  
	</p>
	<p>
	<b>Building adaptive capacity</b> involves activities that increase our ability to adapt to climate change.  These activities include gathering the information required to understand the particular vulnerabilities to climate change a business, community or area might face, providing the information, procedures, tools and supporting structures required as a basis for the delivery of adaptation actions.
	</p>
	<p>
	</p>
	<ul>
	<li>Information required for climate change planning includes <b>reliable data on the expected impacts of climate change, existing adaptive capacity, vulnerabilities, costs and benefits and adaptation options.</b>. 
	</li>
	<li>Putting in place the procedures, tools and supporting structures involves awareness raising, obtaining senior management and community agreement and integrating climate risk and adaptation into planning and decision-making processes.
	</p>
	<p>
	<b>Implementing adaptive actions</b> refers to implementing actions that will help reduce climate risk and exploit opportunities.  
	</p>
	
	</div>
	
	<div id="how-to-adapt">
	<a name="How to Adapt?">
	
	
	<h2>How to Adapt?</h2></a>
	<p>
	Adaptation is <b>an ongoing and iterative process</b> and it is <b>important to integrate adaptation response into planning and decision-making processes</b>.  There are a number of key elements to the adaptation process and these are:
	</p>
	<ol>
	<li>Understand the issues;</li>
	<li>Assess your vulnerability;</li>
	<li>Develop strategic objectives;</li>
	<li>Identify and assess adaptation options;</li>
	<li>Implement adaptation options;</li>
	<li>Monitor, review and re-assess.</li>
	</ol>
	<p></p>
	<h3>1. Understand the issues</h3>
	<p>
	In order to get started in the adaptation process, an understanding of climate change is a fundamental starting point.
	</p>
	<p>
	<ul>
	<li><a href="/ci/climate-change/climate-change" target="_blank">Do you want to know more about climate change?</a></li>
	<li><a href="/ci/adaptation/adaptation" target="_blank">Do you want to know more about adaptation?<a></li>
	</ul>
	</p>
	<h3>2. Assessing your vulnerability to Climate Change</h3>
	<p>
	In order to identify how climate change might affect you requires an understanding of your vulnerability to climate change.</p>
	<div id="text-box">
	<b>"Vulnerability is the degree to which a system is susceptible to and unable to cope with, adverse effects of climate change, including climate variability  and extremes.  Vulnerability is a function of the character, magnitude, and rate of climate change and variation to which a system is exposed, its sensitivity, and its adaptive capacity"(IPCC 2007)</b></div>
	<p>This involves <b>determining how you are affected by current climate trends and the occurrence of extreme weather events</b>.  This will help you to understand how future climate changes might affect you and will help you to identify your strategic objectives.  This assessment can be undertaken by assessing:
	</p>
	<ul>
	<li>How have <b>previous weather events</b> affected your organisation or community and how well did you cope?</li>
	<li>Were <b>critical thresholds exceeded</b> that resulted in losses or opportunities?</li>
	<li>How is <b>climate expected to change and what are the key impacts?</b></li>
	<li>Are there <b>indirect impacts</b> that need to be considered?</li>
	<li>What are the <b>priority risks</b>?</li>
	</ul>
	<p>
	<ul>
	<li><a href="/ci/sectors/sectors" target="_blank">Do you want more information on how climate change might affect your sector of operations?</a></li>
	<li>For information on current climate, click <a href="/ci/climate-information/current-data" target="_blank">here</a>, and for projected climate, click <a href="/ci/climate-information/projections/Leinster/2051-60/JJA/ensemble/ensemble/T_2M/linear" target="_blank">here</a>.</li></ul>
	</p>
	<h3>3. Develop Strategic Objectives</h3>
	<p>
	Based on the information collected in step 2, <b>strategic objectives</b> should be developed that will <b>address the priority risk and opportunities</b>.  Initially, <b>a range of objectives should be identified</b>.
	</p>
	
	<h3>4. Identifying adaptation options</h3>
	<p>
	After identifying a set of objectives, <b>a wide range of adaptation measures should be identified and assessed</b>.  On the basis of, amongst other, the relative costs of different adaptation options, a short list of viable adaptation options.  
	</p>
	<p>
	Adaptation options include:
	</p>
	<ul>
	<li><b>No-regrets</b> options will deliver benefits whatever the extent of climate change, e.g. not building infrastructure in high-risk areas such as floodplains.</li>
	<li><b>Win-win</b> options will enhance your adaptive capacity while also helping to achieve other social, environmental or economic goals, e.g. improving the cooling capacity of buildings through increased shading and.or less energy intensive cooling strategies. </li>
	<li><b>Flexible or adaptive management</b> options involves incremental adaptation actions.</li>
	<li><b>To delay a decision</b> to implement an adaptation measure is also a viable option when the time is used to find out more about the problem.</li>
	<li><b>A decision to do nothing</b> may also represent a legitimate option in a situation where climate risks are outweighed by other factors.  This decision, however, should not be used as a default position and should only be reached after careful consideration of your climate risks and adaptation options.</li>
	</ul>
	
	<h3>5. Implementing Adaptation </h3>
	<p>
	Having considered risks (Step 2) and selected preferred adaptation options, <b>an implementation plan needs to be developed that states what needs to be done, by whom and when, to convert adaptation options into actions</b>.  The implementation of adaptation options will be contingent on the chosen adaptations and being <b>strongly linked to existing policies and procedures</b>.
	</p>
	
	<h3>6. Monitoring, Review and Re-assess</h3>
	<p>
	Adaptation is <b>an iterative process that needs to be closely monitored</b> with regular review to ensure that it remains effective.  This step will ensure that the adaptation initiatives are working and will <b>determine whether changes or refinements are required in response to new conditions and information</b>.
	</p>
	</div>	
	
	
	
	
	
	
