<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Adaptation
		</title>
	</head>
	<h3>Climate Adaptation</h3>
	<p>Climate is changing and even if levels of greenhouse gas emissions decrease rapidly, 
	there will still be some inevitable effects of climate change.  This is due to our history of 
	greenhouse gas emission, the persistence of these gases in the atmosphere and the slow warming 
	of the oceans. The slow response of the oceans mean that temperatures and sea level will continue 
	to rise for several decades regardless of our efforts to reduce emissions of greenhouse gases.  
	Our efforts to reduce the levels of greenhouse gas emission in order to prevent the worst effects 
	of climate change are known as mitigating actions.  However, in order to protect from the now 
	inevitable consequences of climate change, adaptation actions are essential.  
	The IPCC defines adaptation as: "adjustments in natural or human systems in response to actual 
	or expected climatic stimuli and their effects, which moderate harm or exploit beneficial opportunities".
	In order to adjust to and to take advantage of the consequences of climate change, it is essential that 
	we build our capacity to adapt (adaptive capacity).</p>  
		<h3>Why Adapt</h3>
		<p>
		</p>
		<h3>How to Adapt?</h3>
		<p>
		</p>
	