<!DOCTYPE HTML!>
	<head>
		<title>Climate Change</title>
	</head>
	<ul>
		<li><a href="#What is Climate Change">What is Climate Change</a></li>
		<li><a href="#Evidence of Climate Chnage">Evidence of Climate Change</a></li>
		<li><a href="#Why is Climate Change Serious">Why is Climate Change Serious</a></li>
		<li><a href="#Climate Science">Climate Science</a></li>
		<li><a href="#Climate Modelling">Climate Modelling</a></li>
		<li><a href="#Projections of Global Climate Change">Projections of Global Climate Change</a></li>
		<li><a href="#Projections of Climate Change for Ireland">Projections of Climate Change for Ireland</a></li>
		<a name="What is Climate Change"><h3>What is Climate Change?</h3></a>
	<p>Climate refers to global or regional weather patterns experienced over long time periods, 
	typically 30 years.  Throughout the earth's history, natural and human factors have affected 
	global climate.  Examples of natural changes in climate include changes in the earth's orbit 
	and volcanic eruptions while humans influence global climate through the release of greenhouse gases, 
	such as carbon dioxide, into the atmosphere.   Over the last 100 years, climate is changing 
	and in its fourth assessment report, the IPCC conclude that there is 90% probability that 
	the global warming of the last 50 years is due to man-made green house gases.  Global warming 
	is now taking place  at a much faster rate than previously expected and poses significant and 
	imminent threat to Ireland.  Similar to global patterns of climate change, the last century has 
	been a period of rapid climate change for Ireland.  There has been an increase in average annual 
	temperature of 0.5°C during the 20th century with a more rapid rate of increase evident since 
	the 1980s while patterns of precipitation have also changed,  increased levels of precipitation 
	are now evident in the north and west of the country while decreases or smaller increases in levels 
	of precipitation are recorded in the south and east.  These observed changes have had already had 
	impacts on many parts of society and  it is expected that over the coming century, these changes 
	will continue and intensify.</p>
		<a name="Evidence of Climate Change"><h3>Evidence of Climate Change</h3></a>
	<p>The global climate is changing and this is particularly the case since the onset of the industrial
	period and its associated rapid increase in levels of emission of greenhouse gas emissions, CO2 in 
	particular.  From 1906-2005, average global temperature has increased by 0.74°C  and similar to 
	the global picture, for Ireland, measurements indicates an increase in average temperature of 0.5°C 
	during the 20th century and the rate of increase has become more rapid since the 1980s.  This increase 
	in temperatures is reflected by the fact that, in the northern hemisphere, the 1990s was the hottest 
	decade of what has been the hottest century for a millennia.  Globally, an increase in temperature 
	will cause sea levels to rise and will change patterns of precipitation.  Other likely effects of 
	increasing temperatures include the more frequent occurrence of extreme events such as droughts, 
	heat waves, heavy rainfall events, species extinction and change in agricultural yields.  The rate 
	of warming and the related changes will vary from region to region.  However, the exact nature of 
	these regional changes remains uncertain.</p>  
		<a name="Why is Climate Change Serious for Ireland"><h3>Why is Climate Change Serious?</h3></a>
	<p>Climate change poses a significant and imminent threat to Ireland.  Climate change is not just an 
	environmental issue, it affects all aspects of life as we know it and its effects will be felt across 
	all sectors.  
	</p>
	<p>
	In the coming century, we can expect, amongst others:
	</p>
	<ul>
	<li>higher sea levels;</li> 
	<li>more storms and more intense storms;</li> 
	<li>warmer temperatures and warmer waters;</li> 
	<li>and more flooding, summer droughts and changing rainfall patterns.</li>
	</ul>
	<p>These changes will put Ireland at risk, both directly and indirectly.  For example, storms and violent winds could affect critical infrastructure, summer droughts could put 
	a strain on water supplies, floods could submerge homes and businesses, rising sea levels and increased 
	storm surges could threaten all of Ireland's cities.</p> 
		<a name="Climate Science"><h3>Climate Science</h3></a>
		<a name="Climate Modelling"><h3>Climate Modelling</h3></a>
	<p>The climate system can be represented by computer models which comprise a range of mathematical 
	equations.  These computer models allow us to predict how the climate might change in the future.  
	Recent developments in climate modelling, in addition to improved computing power, allow us to have 
	greater confidence in our predictions.  However, developing climate models is a complex procedure and 
	climate models cannot fully represent the complexity of our climate system.  As a result, there is 
	still considerable uncertainty associated with predicted climate information.  Due to the complexities 
	of developing climate models, there are only a few places in the world that carry out climate modelling.
	In order to create a global climate model (GCM), the globe is divided into grid blocks or cell.  
	These grid blocks will normally have a coarse resolution, covering 3-4 degrees across the globe.  
	The model is then run and predictions are computed for each grid block on the globe.  
	Using a variety of complex mathematical procedures, these global projections can be down-scaled 
	using a regional climate model (RCM) which will provide predictions for smaller areas of land or sea.</p> 
		<a name="Projections of Global Climate Change"><h3>Projections of Global Climate Change</h3></a>
	<p>International scientific evidence has shown that human activities have begun to modify global climate 
	and that these changes will have significant social and economic implications.  The Fourth Assessment Report 
	of the IPCC (2007) details projections from a range of global climate models and indicate that significant 
	impacts on world climate are likely to occur over the present century.  The projected increase in global 
	temperatures are unlikely to be uniformly distributed with increased rates of warming, nearly double the 
	global  average, projected to occur at higher latitudes.  This projected regional variation in global 
	warming will also affect the distribution and rate of change in other meteorological variables.</p>
	<ul>	
	<li>Global temperatures are projected to increase by between 1.8°C to 4.0°C by 2080 - 2099</li>
	<li>An increase in the occurrence of hot extremes, heat waves and heavy precipitation events is likely to occur</li>
	<li>An increase in levels of precipitation is projected for the mid to high latitudes with reductions projected for the low latitudes.</li>
	<li>A widespread decrease in mountain glaciars is expected while snow cover is also projected to contract and the upper layers of permafrost are projected to melt</li>
	<li>Antartica is to gain mass due to enhanced snowfall.  In contrast, Greenland is likely to lose mass due a greater relative increase in runoff.  The extent of summer sea ice cover in the Arctic and Antartica is projected to decrease and, according to some model predictions, summer sea ice in the Arctic is expected to disappear towards the end of this century.</li>
	<li>Globally, sea level is expected to rise by between 0.28 m and 0.43 m by the end of the century</li>
	<li>Storm track locations are projected to shift polewards while the number of tropical cyclones per year is likely to decrease.  However, the intensity of these storms is expected to increase.</li>   
	<li>The Atlantic Meridional Overturning Circulation (MOC), of which the Gulf Stream is a part, is estimated to reduce by 25% during the present century.  However, an abrupt transition during this period is unlikely.</li>
	</ul>
	<a name="Projections of Climate Change for Ireland"><h3>Projections of Climate Change for Ireland</h3></a>
	<p>Observed changes in Ireland's climate over the last century are in line with global and regional trends associated with human induced climate change.  Over the coming centuries, these changes are expected to continue and increase.</li>  
	<ul>
	<li>Temperatures are expected to increase by 1-3°C by the end of the century while the frequency of heat waves are expected to increase and the frequency of cold snaps are expected to decrease.</li>
	<li>Winters are expected to be wetter in the west of Ireland while summers are expected to be drier in the southeast of Ireland (5-25% less rainfall in 2021 to 2060 compared to 1961-2000).</li>
	<li>Storm frequency is expected to decrease but the intensity of these storms if expected is increase. Storm tracks are also projected to shift northwards.</li>
	<li>Sea level is projected to rise by up to 60 cm by the end of the century and these changes are expected to magnify the impacts of changing storm surge and wave patterns in coastal areas.</li>  

