<!DOCTYPE HTML!>
	<head>
		<title>Climate Change</title>
	</head>
	<div class="buttons">
	  <ul>
	    <li><a href="what-is-climate-change">What is Climate Change?</a></li>
	    <li><a href="evidence-of-climate-change">Evidence of Climate Change</a></li>
	    <li><a href="why-is-climate-change-serious">Why worry?</a></li>
	    <li><a href="climate-modelling">Climate Modelling</a></li>
	    <li><a href="projections-global">Global Projections</a></li>
	    <li><a href="projections-ireland">Projections for Ireland</a></li>
	  </ul>
	</div>
	
	<div id="climate-change">
	<a name="Information on Climate Change">
	<h2>Climate Change</h2>
	<p>The climate of Ireland is changing and understanding how this is happening is an important step in planning for climate change adaptation.</p>

	<p>Over the past century, temperatures have increased and this increase has become more rapid since the 1990s, patterns of precipitation are changing, the occurrence of frost and cold days is decreasing while the number of hot days is increasing.</p> 
	
	<p>This section of the website will provide you with the information that you need to understand climate change and how projections of possible future climate are developed.</p>
	
	<div id="text-box-center">
	<b>What do you want to do?</b>
	<ul>
	<li><a href="what-is-climate-change">Learn more about what climate change is</a></li>
	<li><a href="evidence-of-climate-change">Examine the evidence for climate change</a></li>
	<li><a href="why-is-climate-change-serious">Learn why climate change should be considered a serious issue</a></li>
	<li><a href="climate-modelling">Learn about how projections of future climate are developed</a></li>
	<li><a href="projections-global">Examine projections of global changes in climate</a></li>
	<li><a href="projections-ireland">Examine projections of changes in climate expected for Ireland</a></li>
	</ul>
	</div>
	</div>
	
	<div id="what-is-climate-change">
	  <a name="What is Climate Change">
	    <h2>What is Climate Change?</h2></a>
	  <p>
	  <div id="text-box">
	<b>Key Information</b>
	<ul>
	<li>Climate refers to global or regional weather patterns experienced over long time periods, typically 30 years</li>
	<li>Over the last 100 years, global mean temperature has risen by 0.74&deg;C and this is attributed to the emission of manmade greenhouse gases</li>
	<li>Data indicate that levels of atmospheric greenhouse gases are now 30% higher than at any time during the last 800,000 years and this is enhancing the natural greenhouse effect and warming the planet</li>
	</ul>
	</div>
	 
	  <p>
		Over the last 100 years, climate is changing and in its fourth assessment report, the IPCC conclude that there is <b>90% probability that the global warming of the last 50 years is due to man-made green house gases</b>.  Global warming is now taking place  at a much faster rate than previously expected and poses a significant and imminent threat to Ireland.  
		</p>  
		<p>
	
		<div class="picture left"> <img src="/img/Greenhouse-effect.jpg"> <br />Radiation from the sun is reflected off the earth's surface.  Some of this radiation passes through the atmosphere to space while some is adsorbed by greenhouse gases and re-radiated back toward the earth</div>
		Throughout the earth's history, natural and human factors have affected 
	    global climate.  Examples of natural changes in climate include changes in the earth's orbit 
	    and volcanic eruptions while humans influence global climate through the release of greenhouse gases, such as carbon dioxide, into the atmosphere.  Once emitted to the atmosphere, greenhouse gases absorb thermal radiation and re-radiate it in all directions.  A part of this re-radiation is back toward surface of the earth and the lower atmosphere and results in the increase of the average surface temperature of the earth.  This process is termed the 'Greenhouse Effect'.    
		</p>
		<p>
		The earth has a natural greenhouse effect and this is due to the absorption of heat radiated from the earth and the lower atmosphere by gases such as water vapour, carbon dioxide and methane.  These gases radiate heat back toward the earth's surface.  In the absence of this natural effect, the climate of the earth would be far colder than it is today.
		</p>
		<br></br>
		<p>
		<div class="picture right"> <img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f3/IPCC-2007-Concentrations_of_greenhouse_gases_from_0_to_2005.png/320px-IPCC-2007-Concentrations_of_greenhouse_gases_from_0_to_2005.png"/> <br/>Graph displaying the atmospheric concentrations of long-lived greenhouse gases from 0 to 2005.  Concentration units are ppm (parts per million) or ppb (parts per billion) (IPCC, 2007) </div>
		The problem of global warming is a result of human activities and, more specifically, to the burning of fossil fuels which releases greenhouse gases into the atmosphere.  These additional greenhouse gases intensify the natural greenhouse effect and, as a result, warm the planet.  The levels of CO<sup>2</sup> in the atmosphere in the distant past can be determined from bubbles of air trapped in ice.  Data indicate that as a result of human activities, the current concentration of CO<sup>2</sup> in the atmosphere is now 30% higher than at any time during at least the past 800,000 years and this is enhancing the natural greenhouse effect and accelerating irreversible changes in the climate.
		</p>
		
		
		
	</div>
	<div id="evidence-of-climate-change">
	  <a name="Evidence of Climate Change">
	    <h2>Evidence of Climate Change</h2></a>
	  <p>
	    The global climate is changing and this is particularly the case since the onset of the industrial
	    period and the associated rapid increase in levels of emission of greenhouse gases, CO<sup>2</sup>in particular.  
		</p>
		<p>
		From 1906-2005, average global temperature has increased by 0.74&deg;C and this increase 
	    in temperatures is reflected by the fact that, in the northern hemisphere, the 1990s was the hottest decade of what has been the hottest century for a millennia.  
	    </p>
		
		<div class="picture-large"> 
		<img src="/img/ar4-global-mean-temp.jpg"/> <br/>Graph displaying observed global mean temperature for the period 1850-2005.  Temperature change with reference to baseline temperature data (1961-1990) are also shown (IPCC, 2007) 
		</div>
		
		<p>
		Globally, an increase in temperature 
	    will cause: 
		<ul>
		<li>Sea levels to rise and will change patterns of precipitation</li>  
		<li>The more frequent occurrence of extreme events such as droughts, heat waves, heavy rainfall events, species extinction and change in agricultural yields.</li>
		</ul>
		<p>
		The rate of warming and the related changes will vary from region to region.  However, the exact nature of these regional changes remains uncertain. 
		</p>
		<p>
		<b>Similar to global patterns of climate change, the last century has been a period of rapid climate change for Ireland:</b>  
		</p>
	  <ul><li>There has been an <b>increase in the mean annual temperature of Ireland of 0.7&deg;C during the 20<sup>th</sup> century</b> with a more rapid rate of increase evident since 
	      the 1980s</li>  
		  <li>The <b>highest ten-yearly rates of increase have occurred since 1980</b>, with a warming rate of 0.042&deg;C per decade</li>
		  <li>There has been a <b>decrease in the number of frost days</b> and shortening of the frost season duration</li>
	    <li>There has been a <b>change in patterns of precipitation</b>;  increased levels of precipitation 
	      are now evident in the north and west of the country while decreases or smaller increases in levels 
	      of precipitation are recorded in the south and east.</li>
	  </ul>
	  <p>These observed changes have had already had 
	    impacts on many parts of society,economy and environment and <b>it is expected that over the coming century, these changes 
	    will continue and intensify.</b></p>
		
	</div>
	
	<div id="why-is-climate-change-serious">
	  <a name="Why is Climate Change Serious for Ireland">
	    <h2>Why is Climate Change Serious?</h2></a>
	  <p>
	  <div class="picture right"> 
	  <img src="/img/cork-flood-2.JPG"/> <br/>A photograph of flooding in Cork city 2009 </div>
	  Climate change poses a significant and imminent threat to Ireland.  Climate change is not just an 
	    environmental issue, it affects all aspects of life as we know it and its effects will be felt across 
	    all sectors.  
	  </p>
	  <p>
	    In the coming century, we can expect, amongst others:
	  </p>
	  <ul>
	    <li>higher sea levels;</li> 
	    <li>more storms and these will occur with increased intensity;</li> 
	    <li>warmer temperatures and warmer waters;</li> 
	    <li>and more flooding, summer droughts and changing rainfall patterns.</li>
	  </ul>
	  <p>These changes will put Ireland at risk, both directly and indirectly.  For example, storms and violent winds could affect critical infrastructure, summer droughts could put 
	    a strain on water supplies, floods could submerge homes and businesses, rising sea levels and increased 
	    storm surges could threaten all of Ireland's cities.</p> 
	</div>

	
	<div id="climate-modelling">
	  <a name="Climate Modelling"><h2>Climate Modelling</h2></a>
	  <p>
	   <div id="text-box">
	<b>Key Information</b>
	<ul>
	<li>Climate models comprise a range of mathematical equations that represent various parts of the Earth's climate system.</li>
	<li>In projecting future climate, climate models use a wide range of scenarios or storylines to simulate future social, economic, and technological development.</li>
	<li>Due to the unknowable knowledge, such as future population growth, complexity of the climate system and computational limitations, there is some uncertainty surrounding projections of future climate.</li>  
	<li>Multi-model ensembles of projections provides a means of overcoming these uncertainties and deriving best estimates of possible climate futures</li>
	</ul>
	</div>
	  
		<img src="/img/earth-4.jpg" align="left">
		
		<p>In developing climate models, scientists are trying to reduce the complex behaviour of the climate down to a set of mathematical equations. <b>These models allow us to predict how the climate might change in the future.</b>  However, developing climate models is a complex procedure and 
	    climate models cannot fully represent the complexity of our climate system.  As a result, there is 
	    still considerable uncertainty associated with predicted climate information. Nonetheless, recent developments in climate modelling, in addition to improved computing power, allow us to have greater confidence in our predictions.  
		</p>
	   	<b>Developing Climate Models</b>
		<p>
		<div class="picture-small right"> 
		<img src="/img/climate-model-3.jpg"/> <br/>Global Climate Models (GCMs) are mathematical representations of the climate system.  The globe is divided spatially into grid squares while the atmosphere above these grid squares is divided vertically</div>
		
		In order to create a global climate model (GCM), the globe is divided into grid blocks or cell.  
	    These grid blocks will normally have a coarse resolution, covering 3-4 degrees across the globe (horizontal grid).  The finer the spatial resolution of the horizontal grid, the more spatially detailed the prediction.  In a similar way to the horizontal grid, the vertical profile of the atmosphere is divided into a number of different levels.    In contrast, to the horizontal grid, the vertical levels are not evenly spaced and simulate atmospheric processes, e.g. cloud formation.  
		</p>
		<p>
		For each horizontal cell and for all vertical cells, GCMs try to simulate as much as possible about the climate system including the incoming and outgoing solar radiation, the way clouds move and precipitation falls, the way ice sheets grow and shrink etc.  GCMs also try to simulate how the different parts of the climate system interact with eachother.<p>
		<p>
		In order to parameterise the model for the prediction of the future climate, climate models are first employed to simulate past and current climates and these simulations are compared to actual observations.  The models are then tweaked, within reasonable boundaries, so that the model does as well as possible at simulating past and current climates.
		</p>
		<b>Projecting future climate</b>
		<p>
		<div class="picture left"> 
	  <img src="/img/sres-emissions.gif"/> <br/>In order to project future climate, levels of future greenhouse gas emissions must be estimated.  These estimates are based upon scenarios of future social, economic and technological change, all of which directly influence levels of greenhouse gas emission.</div>
		Once parameterised to best represent past and current climate conditions, climate models are then employed to project future climate conditions.  This is achieved by estimating levels of future CO<sub>2</sub> emission and using these estimates as inputs to the climate model.  This is termed as 'forcing' a climate model.  In order to assess a wide range of possible climate futures, climate models are forced by a wide range of emission scenarios (from high levels of emission to low levels.  The level of emission is determined based on prediction of future social, economic and environmental conditions. Projected climates are computed for each grid block on the globe.  
	    </p> 
	</br>
	<p>
	<b>Down-scaling climate models for Ireland</b>

	<div class="picture right"> 
	  <img src="http://www.wmo.int/wcc3/bulletin/57_2_en/images/bull_57_2_9.jpg"/> <br/></div>
	Despite the sophistication and complexity of GCMS, generally the output from these models is too course to be effectively employed in assessing regional or local impacts.  This is because important variations occur due to processes operating at sub GCM grid scale.  Due to computational requirements, the grid box output for GCMs are generally in the order of 100s km.  In order to overcome these issues, regionalisation or down-scaling of GCM outputs is required. 
	</p>
	<p>
	Down-scaling of GCMs to regional scale involves nesting a regional climate model (RCM) within a GCM.  RCMs cover a limited spatial area and simulate the effects of climate change at sub-GCM grid squares.  Moreover, RCMs  use the lateral meteorological boundary conditions of the GCM and include highly resolved geographic information such as complex topography and coastlines.   This allows for an improved climatic simulation for limited spatial areas, e.g. regional level, than would be provided for by GCMs.
	</p>
	<b>Sources of Uncertainty in Climate Model Projections</b>
	<p>
	Modelling future climate is a complex procedure and although there have been large advances in modelling chaotic behaviour and natural variability in the climate system, it is not an exact science and it is recognised that climate models will not be able to provide a singular prediction of future climate.
	</p>
	<ol>
	<li><p>Unknowable knowledge</p>  
	<p>The projections produced by climate models are based on future assumptions of socio-economic conditions, technological change and future population growth and their associated estimate of CO<sup>2</sup> emissions.  In order to take into account of these uncertainties, a range of future storylines detailing socio-economic conditions, technological change and future population growth are employed and these are termed storylines are termed scenarios.</p></li>
	<li><p>Uncertainty in model configuration</p>
	<p>The configuration of climate models to represent the climate system is an important step and is based on both scientific and computational considerations.  For example, choices include the number of vertical and horizontal resolutions, physics parameterisation schemes, values of these and numerical algorithms.  As a result, different climate models will simulate different climatic responses to the same scenario.  As we move to Regional Climate Models, uncertainty in climate model configuration increases.</p>
	<p>In order to overcome uncertainty in model configuration, a wide range of climate models are employed, an ensemble of climate change projections, to provide a projection of an average climate.</p> 
	</li>
	<li><p>Uncertainty due to the random nature of natural forcing</p>
	<p>The climate system and its natural forcing are inherently stochastic or random.  The nature of future natural forcing are unknown and although these are less important than the uncertainty associated with anthropogenic forcing, these still do add uncertainty to the projection of future climate</p>
	</li>
	</ol>
	</div>

	<div id="projections-global">
	  <a name="Global Climate Change"><h2>Projections of Global Climate Change</h2></a>
	  <p>International scientific evidence has shown that human activities have begun to modify global climate 
	    and that these changes will have significant social and economic implications.  The Fourth Assessment Report 
	    of the IPCC (2007) details projections from a range of global climate models and indicate that significant 
	    impacts on world climate are likely to occur over the present century.  The projected increase in global 
	    temperatures are unlikely to be uniformly distributed with increased rates of warming, nearly double the 
	    global  average, projected to occur at higher latitudes.  This projected regional variation in global 
	    warming will also affect the distribution and rate of change in other meteorological variables.</p>
	  <ul>	
	    <li>Global temperatures are projected to increase by between 1.8&deg;C to 4.0&deg;C by 2080 - 2099</li>
	    <li>An increase in the occurrence of hot extremes, heat waves and heavy precipitation events is likely to occur</li>
	    <li>An increase in levels of precipitation is projected for the mid to high latitudes with reductions projected for the low latitudes.</li>
	    <li>A widespread decrease in mountain glaciers is expected while snow cover is also projected to contract and the upper layers of permafrost are projected to melt</li>
	    <li>Antarctica is to gain mass due to enhanced snowfall.  In contrast, Greenland is likely to lose mass due a greater relative increase in runoff.  The extent of summer sea ice cover in the Arctic and Antarctica is projected to decrease and, according to some model predictions, summer sea ice in the Arctic is expected to
		disappear towards the end of this century.</li>
	    <li>Globally, sea level is expected to rise by between 0.28 m and 0.43 m by the end of the century</li>
	    <li>Storm track locations are projected to shift polewards while the number of tropical cyclones per year is likely to decrease.  However, the intensity of these storms is expected to increase.</li>   
	    <li>The Atlantic Meridional Overturning Circulation (MOC), of which the Gulf Stream is a part, is estimated to reduce by 25% during the present century.  However, an abrupt transition during this period is unlikely.</li>
	  </ul>
	</div>

	<div id="projections-ireland">
	  <a name="Projections of Climate Change for Ireland"><h2>Projections of Climate Change for Ireland</h2></a>
	  <p>Observed changes in Ireland's climate over the last century are in line with global and regional trends associated with human induced climate change.  Over the coming centuries, these changes are expected to continue and increase.  Based on existing climate projection data for Ireland (Sweeney et al 2008; McGrath et al. 2008), the following climatic changes can be expected: </p>  
	  <ul>
	    <li>Temperatures are expected to increase everywhere relative to the present and by the end of the century, summer and autumn temperatures are expected to be up by 1-3&deg;C.</li>
		<li>Increasing temperatures are expected to bring a change in the frequency and intensity of extreme events.  An increase in the duration of heat waves is expected while the frequency of cold snaps are likely to decrease.</li>
	    <li>Projections for changes in precipitation are more uncertain than temperature.  However, a robust signal of increased seasonality is evident and winters are expected to be wetter, particularly in the west, while summers are expected to be drier, particularly in the southeast of Ireland.</li>
		<li>As changes in average climate progress, with the exception of cold snaps, changes in the occurrence and magnitude of extreme events can be expected.</li> 
	    <li>Increases in wind speed can be expected and increases in 60 m average wind speeds of 8-11% are likely by mid-century.  However, these estimates remain subject to high levels of uncertainty.</li>
		<li>Changing patterns of precipitation and evapotranspiration will effect streamflow.  Increases in streamflow in winter (20%) are likely by the mid to late century while reductions in summer for many catchments are expected (40%).  However, due to differing catchment characteristics, different signatures of change are expected.</li>
	    <li>Sea level is projected to rise by up to 60 cm by the end of the century and these changes are expected to magnify the impacts of changing storm surge and wave patterns in coastal areas.  However, locally, rises will vary dependent upon rates of isostatic rebound and topography.</li>
		<li>For many coastal cities and key infrastructure, flood risk will become a serious issue. This is due to a combination of the increased risk of both storm surges and river flooding.</li>
	<b>Resources</b>
		<ul>
		<li><a href="http://eprints.nuim.ie/2682/1/sweeney-report-strive-12-for-web-low-res.pdf">Sweeney et al. (2008). <i>Climate Change - Refining the Impacts for Ireland</i> Johnstown Castle, Wexford:  Environmental Protection Agency</a></li>
		<li><a href="http://www.c4i.ie/docs/IrelandinaWarmerWorld.pdf">McGrath et al. (2008)<i> Ireland in a Warmer World.  Scientific Predictions of the Irish Climate in the Twenty-First Century.</i>  Final Report of C4I, Dublin.</li>
	</div>

