<head>
<title>Guidance</title>
</head>

<body>
<figure style="float:left; margin-bottom:-25px">
<img src="/img/Flood-2-web.jpg" style="max-width:180px">
</figure>
<figure style="float:left; clear:left">
<img src="/img/Flood-1-web.jpg" style="max-width:180px"><figcaption style="text-align:justify">Flooding Cork City Febraury 2014 (Photo credit: Niamh O'Toole)</figcaption>
</figure>
<h2 style="text-align:center">Climate Change Adaptation Guidelines Research Workshop</h2>
<h2 style="text-align:center">Date: May 2014</h2>
<h2 style="text-align:center">Venue: Dublin</h2>

<h5 style="text-align:center"><a href="/downloads/adaptation_guidelines_flyer.pdf" target="_blank">Click here to view a copy of the workshop flyer</a></h5>

&nbsp;

<h3>Rationale:</h3>

<p>Under the National Climate Change Adaptation Framework, Local Authorities
are mandated to integrate climate change adaptation into their development plans. This process
is to to be underway by mid-2014. The EPA through its research programme is facilitating
information provision and analysis support for this activity.</p>
<h3>Purpose:</h3>
<p>This one day workshop will provide an
overview of the guidelines and tools that are
currently being developed to facilitate the integration
of climate adaptation into local authority planning.</p>
<h3>Aim:</h3>
<p>The workshop aims to introduce loacl authorities to the process of developing an adaptation strategy, and to discuss the means of mainstreaming the strategy into development planning.</p> 
<h3>Audience:</h3>
<p>The workshop is primarily targeted at those tasked with integrating adaptation into
development plans.  However, it may also be of benefit to sectoral planners engaged in adaptation processes. 
</p>

&nbsp;
&nbsp;

<h3 style="text-align:center; color:red">Click <a href="">here</a> to download a Preliminary Climate Change Adaptation Resource Pack</h3>

&nbsp;
&nbsp;

<div style="width:100%" align="center">

<h3 style="text-align:center">To register you interest, please contact Stefan Gray (<a href="mailto:s.gray@ucc.ie?Subject=Adaptation%20Workshop" target="_top">send mail</a>) or Barry O'Dwyer (<a href="mailto:b.odwyer@ucc.ie?Subject=Adaptation%20Workshop" target="_top">send mail</a>)</h3>
</div>














</body>