<div class="buttons">
  <ul>
    <li><a href="/ci/welcome/svgbar/Leinster/2051-60/JJA/ensemble/ensemble/T_2M/linear">Climate Projections</a></li>
    <li><a href="/ci/climate-information/current-data">Current Climate</a></li>
  </ul>
</div>

<div id="climate-projections">
<b>Climate Projections</b>
<p>Climate projections provide a means of assessing how future changes in climate might affect you and will help you identify your vulnerabilities.  Using the tools below, you can examine projections of Ireland's future climate.</p> 

<p>The map to the left shows climate model projections for the period you select.  These projections can be viewed as an ensemble of model projections where climate model results are averaged or on the basis of individual model projections.  The right hand box-plot shows the range of the projected values for the area you selected and on a decadal basis.</p> 

<p>More information and term explanations can be found here.</p>
</div>  
<div id="current-data">
  <b>Current Climate Data</b>
  <p>As a first step in developing an adaptation plan and in order to understand how climate change might affect you in the future, an understanding of your vulnerability to current climatic conditions is required.  An examination of current climatic/weather data will help you to determine how you are affected by current climate trends and, in doing so, help you understand how future climate changes might affect you.</p> 
  <p>An assessment of how current climate affects you would include questions such as:</p>
  <ul>
    <li>How have previous weather events affected your organisation or community and how well did you cope?</li>
    <li>Were critical thresholds exceeded that resulted in losses or opportunities?</li>
    <li>How is climate expected to change and what are the key impacts?</li>
    <li>Are there indirect impacts that need to be considered?</li>
    <li>What are the priority risks?</li>
	</ul>

<div id="text-box">
<p>Met &Eacute;ireann, the Irish National Meteoroligical Service is the leading provider of weather information for Ireland.  Through their <a href="http://www.met.ie">website</a>, you can examine past weather data for Ireland:</p>
<ul>
<li><a href="http://www.met.ie/climate/monthly-summary.asp">Monthly/Seasonal/Annual Weather Summaries</a></li>
<li><a href="http://www.met.ie/climate/monthly-data.asp">Monthly weather Data</a></li>
<li><a href="http://www.met.ie/climate/daily-data.asp">Daily weather Data</a></li>
</ul>
</div>
</div>
