<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>News</title>
  </head>
  <body>
  <h3>Latest News & Events</h3>
	<h4>February 2014</h4>
	<ul class="small-indent">
	<li>Climate Adaptation Guidlines Workshop announced for May 2014, click <a href="/ci/guidance">here</a> for more information.</li>
	<li>Ireland's Climate Status Report made available as an electronic resource, <a href="/ci/climate-change/status-report">click here</a></li>
	<li>Met &Eacute;ireann leads a major study on the future of Ireland's climate - "Ireland's Climate: the road ahead", <a href="http://www.met.ie/news/display.asp?ID=217">click here</a></li>
	</ul>
  </body>