<!DOCTYPE HTML!>
	<head>
		<title>Resources</title>
	</head>
	<div class="buttons">
	  <ul>
	    <li><a href="case-studies">Case Studies</a></li>
	    <li><a href="tools">Tools</a></li>
	    <li><a href="web-links">Web Sites</a></li>
	    <li><a href="Reports">Reports</a></li>
	   </ul>
	</div>
	
	<div id="case-studies">
	  <a name="Case Studies">
	    <h3>Case Studies</h3></a>
	  
	</div>
	
	<div id="tools">
	  <a name="Tools">
	    <h3>Tools</h3></a>
	  
	</div>
	
	<div id="web-links">
	  <a name="Web Sites">
	    <h3>Web-links</h3></a>
	  
	</div>
	
	<div id="Reports">
	  <a name="Reports">
	    <h3>Reports</h3></a>
	  
	</div>