<!DOCTYPE html>
	<head>
	<title>References</title>
	</head>
	<a id="1">European Commission, 2004.  Living with coastal erosion in Europe - Sediment and space for sustainability.  Luxembourg Office for Official Publications of the European Commission. 40 pp ISBN 92-894-7496-3</a>
	
	<a id="2">Devoy, R., 2008.  Coastal Vulnerability and the Implications of Sea-Level Rise for Ireland.  Journal of Coastal Research, Vol. 24, No. 2.</a>
	
	<a id="3">Wang et al., 2008.  The impact of climate change on storm surges over Irish waters.  Ocean Modlling, 25, 83-94.</a>
	
	<a id-"4">Sweeney et al., 2003. Climate Chaneg: Scenarios & Impacts for Ireland.  Environmental Protection Agency,  ISBN:1-84095-115-X.</a>