<!DOCTYPE HTML!>
	<head>
		<title>Resources</title>
	</head>
	<div class="buttons">
	  <ul>
	    <li><a href="case-studies">Case Studies</a></li>
	    <li><a href="web-links">Web Sites</a></li>
	    <li><a href="Reports">Reports</a></li>
	   </ul>
	</div>
	
	
	
	<div id="resources">
	<div class="text-pic-right">
	<img src="/img/information-search.gif">
	</div>
	
	<h2>Resources</h2>
	<p>In order to help understand what climate change will mean for you and to help plan for adaptation to climate change, we provide a range of case studies, web-sites and reports.  
	</p>
	<ul>
	<li>The <b>Case studies</b> section provides examples of climate change adaptation in practice.  Case studies cover adaptation actions across a range of sectors and as part a of both a planned programme of adaptation or as a response to a particular event.</li>
	<p>
	</p>
	<li>The <b>Web Sites</b> section provides a diverse range of web-links to webpages that examine climate change and adaptation.</li>
	<p>
	</p>
	<li>The <b>Links and Reports</b> section provide a diverse range of information on climate change and adaptation.</li>
	</div>
	
	<div id="case-studies">
	  <a name="Case Studies">
	    <h2>Case Studies</h2></a>
		
		<h3>Coastal</h3>
		
		<h3><a href="http://ec.europa.eu/ourcoast/index.cfm?menuID=4&articleID=6">Towards a more balanced management of a harbour through a Local Authority-Academic Couplet, Cork, Ireland</a></h3>
		
		<p>This case study examines the steps taken towards achieving more balanced management of a multi-use harbour: Cork Harbour, Ireland.  It includes the management of climate change impacts and safeguarding of coasts/coastal systems, through the establishment of a strategic alliance (couplet) between the local authority and multi-disciplinary academic experts.  This innovative relationship resulted in the adaptation of an Integrated Harbour Management Strategy set up with the consensus of stakeholders, and a strengthening link between science and policy at the local level.
		</p>
	  
	</div>
	
	<div id="tools">
	  <a name="Tools">
	    <h2>Tools</h2></a>
		<ul>
		<li><a href="http://www.ukcip.org.uk/bacliat/"><b>BACLIAT:</b> Business Areas Climate Assessment Tool<a>
		<p>
		The UKCIP BACLIAT tool has been designed as a workshop tool that provides a means of raising awareness of climate change and the implications of its impacts and adaptation at either a company or a sectoral level.  
		</p>
		<li><a href="http://climate-adapt.eea.europa.eu/web/guest/adaptation-support-tool/step-1"><b>Adaptation Support Tool</b>
		<p>
		The EU Adaptation Support Tool is designed to assist users in developing adaptation policies by providing guidance, links to relevant resources and dedicated tools
		</p>
		</ul>
		
	</div>
	
	<div id="web-links">
	  <a name="Web Sites">
	    <h2>Web-links</h2></a>
		<b>National Pages</b>
		<ul>
		<li><a href="http://www.epa.ie/whatwedo/climate/climatechangeresearch" target="_blank">The Environmental Protection Agency: Climate Change Research Programme</a>
		<li><a href="http://www.met.ie" target="_blank">Met &Eacute;ireann - Homepage of the Irish Meteorological Service</a></li>
		<li><a href="http://www.c4i.ie/" target="_blank">c4i: Community Climate Consortium for Ireland</a></li>
		<li><a href="http://www.icarus.nuim.ie" target="_blank">Irish Climate Analysis & Research Units</a>
		</ul>
		<b>International Organisations</b>
		<ul>
		<li><a href="http://www.climatecommunication.org" target="_blank">Climate Communication: Science and Outreach</a></li>
		<li><a href="http://www.wmo.int/pages/index_en.html" target="_blank">World Meteorological Organisation</a></li>
		<li><a href="http://www.ipcc.ch" target="_blank"> IPCC - Intergovernmental Panel on Climate Change</a></li>
		</ul>
		<b>International Climate Adaptation Platforms</b>
		<li><a href="http://climate-adapt.eea.europa.eu" target="_blank">Climate-Adapt: European Climate Adaptation Platform</a></li>
		<li><a href="http://ukcip.org.uk" target="_blank">United Kingdom Climate Impacts Programme</a></li>
		<li><a href="http://www.adaptationscotland.org.uk" target="_blank">Adaptation Scotland: Supporting Climate Change Resilience</a></li>
		<li><a href="http://www.klimatilpasning.dk/en-us/Sider/ClimateChangeAdaptation.aspx" target="_blank">Climate Change Adaptation (Denmark)</a></li>
		<li><a href="http://ilmasto-opas.fi/en/" target="_blank">Climate guide.fi (Finland)</a></li>
		<li><a href="http://www.regjeringen.no/en/dep/md/kampanjer/engelsk-forside-for-klimatilpasning.html?id=539980" target="_blank">Norwegian Climate Change Adaptation Programme</a></li>
		<li><a href="http://sdwebx.worldbank.org/climateportal/index.cfm" target="_blank">Climate Change Knowledge Portal: For Development Practitioners and Policy Makers</a></li>
		
	</div>
	
	<div id="Reports">
	  <a name="Reports">
	    <h2>Reports</h2></a>
		
		<h3>National Reports</h3>
		<ul>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,31493,en.html" target="_blank">Integrating Climate Change Adaptation into Sectoral Policies in Ireland (2012)</a></li>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,31491,en.html" target="_blank">Ireland Adapts to Climate Change (2012)</a></li>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,27091,en.html" target="_blank">A Summary of the State of Knowledge on Climate Change Impacts for Ireland (2009)</a></li>
		</ul>
		
		<h3>Agriculture</h3>
		<ul>
		<li><a href="http://www.teagasc.ie/publications/2011/61/61_ClimateBillSubmission.pdf" target="_blank">Agriculture, Greenhouse Gas Emission and Climate Change: Opportunities, obstacles and proposed solutions (2011)</a></li>
		<li><a href="http://www.ria.ie/getmedia/eba45f46-3070-4818-acc5-3241eda85ac9/12214-Ria-Agr_climate-chang.pdf.aspx" target="_blank">Royal Irish Academy "2<sup>nd</sup> Scientific Statement: Climate Change and Irish Agriculture" (2003)</a>
		<li><p><a href="http://ec.europa.eu/agriculture/analysis/external/climate/final_en.pdf" target="_blank">Adaptation to Climate Change in the Agricultural Sector</a></li>
		</ul>
		
		<h3>Biodiversity</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/0da9944b-46ea-4ef1-b22c-7edc8a69c0ee/Climate-change-10_1.pdf.aspx" target="_blank"> Royal Irish Academy "10<sup>th</sup> Scientific Statement: The impact of rising spring temperatures on trees, insects and birds in Ireland" (2012)</a></li>
		<li><a href="http://www.ria.ie/getmedia/a031aab3-3921-4c16-9912-0e1f04067e61/6Climate-Change-Biodiversity.pdf.aspx" target="_blank"><Royal Irish Academy "6<sup>th</sup> Scientific Statement: Impacts of Climate Change on Biodiversity" (2008)</a></li> 
		<li><a href="http://www.ipcc.ch/publications_and_data/ar4/wg2/en/ch4.html" target="_blank">IPCC, WGII, 2007, Chapter 4 - Ecosystems, their Properties, Goods and Services</a></li>
		<li><a href="http://www.epa.ie/downloads/pubs/biodiversity/EPA%20Bio%20AP_final.pdf" target="_blank">EPA Biodiversity Action Plan</a></li>
		</ul>

		<h3>Business</h3>
		<ul>
		<li><a href="http://www.forfas.ie/media/Adaptation%20to%20Climate%20Change%20Summary%20Report%20ONLINE%20FINAL.pdf" target="_blank">Adaptation to Climate Change: Issues for Business (2010)</a></li>
		</ul>
		
		<h3>Coastal Areas</h3>
		<ul>
		<li><a href="http://www.iae.ie/site_media/pressroom/documents/2009/Jun/09/Coastal_Areas.pdf" target="_blank">Climate Change: Impacts on Coastal Areas<a></li>
		<li><a href="http://www.iae.ie/site_media/pressroom/documents/2009/Jun/09/Ireland_at_Risk_Water.pdf" target="_blank">Ireland at Risk: Water</a></li>
		
		<h3>Critical Infrastructure</h3>
		<ul>
		<li><a href="http://www.iae.ie/site_media/pressroom/documents/2009/Nov/17/Ireland_at_Risk_2.pdf!" target="_blank">Ireland at Risk - Critical Infrastructure: Adaptation for Climate Change</a></li>
		<li><a href="http://www.ipcc.ch/publications_and_data/ar4/wg2/en/ch7.html" target="_blank">IPCC WG2, 2007, Chapter 7: Industry, Settlement and Society</a></li>
		<li><a href="http://www.raeng.org.uk/news/publications/list/reports/Engineering_the_future_2011.pdf" target="_blank">Infrastructure, Engineering and Climate Change Adaptation - Ensuring Services in an Uncertain Future</a></li>
		<li><a href="http://siteresources.worldbank.org/EXTCC/Resources/407863-1229101582229/DCCDP_2Infrastructure.pdf"target="_blank">The Costs of Adapting to Climate Change for Infrastructure</a></li>
		
		<h3>Economics</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/d2e373f2-45cc-4d60-aea7-a6f605c5ef86/ClimateChange8.pdf.aspx" target="_blank">Royal Irish Academy "8<sup>th</sup> Scientific Statement: Market-based Policies for Reducing Carbon Dioxide Emissions" (2009)</a></li>
		</ul>
		
		<h3>Forestry</h3>
		<ul>
		<li><a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=COM:2010:0066:FIN:EN:PDF" target="_blank">EC Green Paper: On Forest Protection and Information in the EU: Preparing Forests for Climate Change</a></li>
		<li><a href="http://ec.europa.eu/agriculture/analysis/external/euro_forests/full_report_en.pdf" target="_blank">Impacts of Climate Change on European Forests and Options for Adaptation</a></li>
		<li><a href="http://ec.europa.eu/agriculture/analysis/external/euro_forests/full_report_en.pdf" target="_blank">Impacts of Climate Change on European Forests and Options for Adaptation</a></li>
		</ul>
		
		<h3>Health</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/f3890d6e-a756-4d97-96b8-54a41878d6aa/climate-change-7.pdf.aspx" target="_blank"> Royal Irish Academy "7<sup>th</sup> Scientific Statement: Climate Change and Health in Ireland" (2009)</a></li>
		</ul>
		
		<h3>Tourism</h3>
		<ul>
		<li><a href="http://www.heritagecouncil.ie/fileadmin/user_upload/Publications/Inland_Waterways/General/Climate_Summary_English.pdf" target="_blank">Climate Change, Heritage and Tourism: Implications for Ireland's Coast and Inland Waterways (2009)</a></li>
		<li><a href="http://www.climalptour.eu/content/sites/default/files/04_Salmon_0.pdf" target="_blank">Tourism and Climate Change in Ireland: Impacts and Adaptation</a></li>
		<li><a href="http://ipts.jrc.ec.europa.eu/publications/pub.cfm?id=2919" target="_blank">Impacts of Climate Change in Tourism in Europe.  Peseta-Tourism Study</a></li>
		</ul>
		
		<h3>Marine & Fisheries</h3>
		<ul>
		<li><a href="http://oar.marine.ie/bitstream/10793/560/3/Foresight%20Series%202%20Climate%20Change%20Implications.pdf" target="_blank">Climate Change: Implications for Ireland's Marine Environment and Resources (2005)</a></li>
		<li><a href="http://ec.europa.eu/environment/marine/eu-coast-and-marine-policy/marine-strategy-framework-directive/index_en.htm" target="_blank">The Marine Strategy Framework Directive</a></li>
		<li><a href="http://oar.marine.ie/handle/10793/810" target="_blank">Harnessing Our Ocean Wealth: An Integrated Marine Plan for Ireland</a></li>
		<li><a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:52009SC0386:EN:NOT" target="_blank">White Paper - Adapting to climate change: towards a European framework for action Climate Change and Water, Coasts and Marine Issues</a></li>
		</ul>
		
		<h3>Water Management</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/fa95cec4-6958-4b58-8c18-ee1716ccf71b/climate-change-and-resources-in-ireland.pdf.aspx" target="_blank">Royal Irish Academy "5<sup>th</sup> Scientific Statement: Climate Change and Water Resources in Ireland" (2009)</a>
		<li><a href="http://www.ipcc-wg2.gov/AR4/website/03.pdf" target="_blank">IPCC - Freshwater Resources and their Management</a></li>
		<li><a href="http://www.iae.ie/site_media/pressroom/documents/2009/Jun/09/Ireland_at_Risk_Water.pdf" target="_blank">Irish Institute of Engineers - Ireland at Risk: Water</a></li>
		<li><a href="http://www.epa.ie/downloads/pubs/research/climate/CCRP_16_web.pdf" target="_blank">Robust Adaptation to Climate Change in the Water Sector in Ireland</a></li>
		</ul>
	</div>