<!DOCTYPE HTML!>
	<head>
		<title>Resources</title>
	</head>
	<div class="buttons">
	  <ul>
	    <li><a href="case-studies">Case Studies</a></li>
	    <li><a href="tools">Tools</a></li>
	    <li><a href="web-links">Web Sites</a></li>
	    <li><a href="Reports">Reports</a></li>
	   </ul>
	</div>
	
	
	
	<div id="resources">
	<div class="text-pic-right">
	<img src="/img/information-search.gif">
	</div>
	
	<h2>Resources</h2>
	<p>In order to help understand what climate change will mean for you and to help plan for adaptation to climate change, we provide a range of case studies, tools, links and reports.  
	</p>
	<ul>
	<li>The <b>Case studies</b> section provides examples of climate change adaptation in practice.  Case studies cover adaptation actions across a range of sectors and as part a of both a planned programme of adaptation or as a response to a particular event.</li>
	<p>
	</p>
	<li>The <b>Tools</b> section provide a means of implementing adaptation allowing you to go through the adaptation process from determining your vulnerabilities to climate change, your key climate risks, and developing adaptation plans.</li>
	<p>
	</p>
	<li>The <b>Links and Reports</b> section provide a diverse range of information on climate change and adaptation.</li>
	</div>
	
	<div id="case-studies">
	  <a name="Case Studies">
	    <h2>Case Studies</h2></a>
		
		<h3>Coastal</h3>
		
		<h3><a href="http://ec.europa.eu/ourcoast/index.cfm?menuID=4&articleID=6">Towards a more balanced management of a harbour through a Local Authority-Academic Couplet, Cork, Ireland</a></h3>
		
		<p>This case study examines the steps taken towards achieving more balanced management of a multi-use harbour: Cork Harbour, Ireland.  It includes the management of climate change impacts and safeguarding of coasts/coastal systems, through the establishment of a strategic alliance (couplet) between the local authority and multi-disciplinary academic experts.  This innovative relationship resulted in teh adaptation of an Integrated Harbour Management Strategy set up with the concensus of stakeholders, and a strengthening link between science and policy at the local level.
		</p>
	  
	</div>
	
	<div id="tools">
	  <a name="Tools">
	    <h2>Tools</h2></a>
		<ul>
		<li><a href="http://www.ukcip.org.uk/bacliat/"><b>BACLIAT:</b> Business Areas Climate Assessment Tool<a>
		<p>
		The UKCIP BACLIAT tool has been designed as a workshop tool that provides a means of raising awareness of climate change and the implications of its impacts and adaptation at either a company or a sectoral level.  
		</p>
		<li><a href="http://climate-adapt.eea.europa.eu/web/guest/adaptation-support-tool/step-1"><b>Adaptation Support Tool</b>
		<p>
		The EU Adaptation Support Tool is designed to assist users in developing adaptation policies by providing guidance, links to relevant resources and dedicated tools
		</p>
		</ul>
		
	</div>
	
	<div id="web-links">
	  <a name="Web Sites">
	    <h2>Web-links</h2></a>
		<ul>
		<li><a href="http://www.climate-adapt.eea.europa.eu">European Climate Adaptation Platform</a></li>
		<li><a href="http://www.epa.ie">The Environmental Protection Agency</a></li>
		<li><a href="http://www.ipcc.ch"> IPCC - Intergovernmental Panel on Climate Change</a></li>
	  
	</div>
	
	<div id="Reports">
	  <a name="Reports">
	    <h2>Reports</h2></a>
		
		<h3>National Reports</h3>
		<ul>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,31493,en.html">Integrating Climate Change Adaptation into Sectoral Policies in Ireland (2012)</a></li>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,31491,en.html">Ireland Adapts to Climate Change (2012)</a></li>
		<li><a href="http://epa.ie/downloads/pubs/research/climate/name,27091,en.html">A Summary of the State of Knowledge on Climate Change Impacts for Ireland (2009)</a></li>
		</ul>
		
		<h3>Agriculture</h3>
		<ul>
		<li><a href="http://www.teagasc.ie/publications/2011/61/61_ClimateBillSubmission.pdf">Agriculture, Greenhouse Gas Emission and Climate Change: Opportunities, obstacles and proposed solutions (2011)</a></li>
		<li><a href="http://www.ria.ie/getmedia/eba45f46-3070-4818-acc5-3241eda85ac9/12214-Ria-Agr_climate-chang.pdf.aspx">Royal Irish Academy "2<sup>nd</sup> Scientific Statement: Climate Change and Irish Agriculture" (2003)</a>
		</ul>
		
		<h3>Biodiversity</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/0da9944b-46ea-4ef1-b22c-7edc8a69c0ee/Climate-change-10_1.pdf.aspx"> Royal Irish Academy "10<sup>th</sup> Scientific Statement: The impact of rising spring temperatures on trees, insects and birds in Ireland" (2012)</a></li>
		<li><a href="http://www.ria.ie/getmedia/a031aab3-3921-4c16-9912-0e1f04067e61/6Climate-Change-Biodiversity.pdf.aspx"><Royal Irish Academy "6<sup>th</sup> Scientific Statement: Impacts of Climate Change on Biodiversity" (2008)</a></li> 
		</ul>

		<h3>Business</h3>
		<ul>
		<li><a href="http://www.forfas.ie/media/Adaptation%20to%20Climate%20Change%20Summary%20Report%20ONLINE%20FINAL.pdf">Adaptation to Climate Change: Issues for Business (2010)</a></li>
		</ul>
				
		<h3>Economics</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/d2e373f2-45cc-4d60-aea7-a6f605c5ef86/ClimateChange8.pdf.aspx">Royal Irish Academy "8<sup>th</sup> Scientific Statement: Market-based Policies for Reducing Carbon Dioxide Emissions" (2009)</a></li>
		</ul>
		
		<h3>Health</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/f3890d6e-a756-4d97-96b8-54a41878d6aa/climate-change-7.pdf.aspx"> Royal Irish Academy "7<sup>th</sup> Scientific Statement: Climate Change and Health in Ireland" (2009)</a></li>
		</ul>
		
		<h3>Tourism</h3>
		<ul>
		<li><a href="http://www.heritagecouncil.ie/fileadmin/user_upload/Publications/Inland_Waterways/General/Climate_Summary_English.pdf">Climate Change, Heritage and Tourism: Implications for Ireland's Coast and Inland Waterways (2009)</a></li>
		<li><a href="http://www.climalptour.eu/content/sites/default/files/04_Salmon_0.pdf">Tourism and Climate Change in Ireland: Impacts and Adaptation</a></li>
		</ul>
		
		<h3>Marine</h3>
		<ul>
		<li><a href="http://oar.marine.ie/bitstream/10793/560/3/Foresight%20Series%202%20Climate%20Change%20Implications.pdf">Climate Change: Implications for Ireland's Marine Environment and Resources (2005)</a></li> 
		</ul>
		
		<h3>Water Management</h3>
		<ul>
		<li><a href="http://www.ria.ie/getmedia/fa95cec4-6958-4b58-8c18-ee1716ccf71b/climate-change-and-resources-in-ireland.pdf.aspx">Royal Irish Academy "5<sup>th</sup> Scientific Statement: Climate Change and Water Resources in Ireland" (2009)</a>
		</li>
		</ul>
	</div>