<!DOCTYPE html>
	<head>
	<title>Climate Change</title>
	</head>
	<div class="buttons">
	  <ul>
	    <li><a href="agriculture-forestry">Agriculture & Forestry</a></li>
	    <li><a href="biodiversity">Biodiversity</a></li>
	    <li><a href="coastal-marine-fisheries">Coastal, Marine & Fisheries</a></li>
	    <li><a href="critical-infrastructure">Critical Infrastructure</a></li>
	    <li><a href="tourism-cultural-heritage">Tourism & Cultural Heritage</a></li>
	    <li><a href="water-management">Water Management</a></li>
	  </ul>
	</div>
	
	<div id="sectors">
	<div class="text-pic-right">
	<img src="/img/water.jpg">
	<img src="/img/farming.jpg">
	<img src="/img/forestry.jpg">
	</div>

	<p>
	<b>Climate Change will impact upon all aspects of Ireland's environment, economy and society </b> 
	</p>
	<p>
	Individual sectors will face differing climate change impacts and will also be presented with differing opportunities.  
	</p>
	<p>
	<b>For example:</b>
	</p>
	<p>
	<b>Agriculture:</b> key projected climate changes include higher temperatures and changes in precipitation patterns, wetter winters and drier summers.  In order to adapt, farmers will have to adopt earlier planting and harvesting dates, lower fertilizer application rates and significant capital investment in irrigation equipment.
	</p>
	<p>
	<b>Water Management:</b> Projections indicate that climate change will have a significant impact on river flows and water resources. Models indicate that in Ireland, winters will be wetter and summer drier.  However, when showers occur, they are likely to be heavier leading to an increased risk of flooding.  Moreover decreases in summer rainfall coupled with a rise in evapotranspiration will mean that reductions in streamflow are likely, particularly during the summer months.  This will lead to problems of water supply.  Adaptation measures include ensuring that water supply sources and associated infrastructure are sufficiently robust to meet future demand.
	</p>
	<p>
	<b>This section details some of the challenges and opportunities that each sector is likely to face, identifies some adaptation options and illustrates these through case study examples.</b>
	</p>
	
	</div>
	
	<div id="agriculture-forestry">
	<a name="Agriculture & Forestry">
	<h2>Agriculture & Forestry</h2></a>
	<p>
	</p>
	</div>
	
	<div id="biodiversity">
	<a name="Biodiversity">
	<h2>Biodiversity</h2></a>
	<p>
	</p>
	</div>
	
	<div id="coastal-marine-fisheries">
	<a name="Coastal, Marine & Fisheries">
	<h2>Coastal, Marine & Fisheries</h2></a>
	<p>
	</p>
	</div>
	
	<div id="critical-infrastructure">
	<a name="Critical Infrastructure">
	<h2>Critical Infrastructure</h2></a>
	<p>
	</p>
	</div>
	
	<div id="tourism-cultural-heritage">
	<a name="Tourism & Cultural Heritage">
	<h2>Tourism & Cultural Heritage</h2></a>
	<p>
	</p>
	</div>
	
	<div id="water-management">
	<a name="Water Management">
	<h2>Water Management</h2></a>
	<p>
	</p>
	</div>