<!DOCTYPE html>
	<head>
	<title>Sectoral Resources - Current Vulnerability</title>
	</head>
	<body>
	<a href="http://gis.epa.ie/Envision/">EPA Envision Site</a>
	<p>The EPA ENVISION Site provides access to a a wide range of spatial and non-spatial data to enable you to assess your vulnerability to climate change.  Amongst others, viewers can view and download data relating to air quality, surface water quality, groundwater quality, water bodies, WFD Risk scores, WFD Status, WFD Registrar of protected areas, water regions, national soils database, land and general administration.  
	</p>
	<a href="http://webgis.npws.ie/npwsviewer/">The National Parks and Wildlife Services Map Viewer</a>
	<p>The NPWS Map Viewer allows viewers to explore locations and attributes of Special Protection Areas, Proposed Natural Heritage Areas, Natural Heritage Areas and Special Areas of Conservation in Ireland.
	</p>
	</body>