<!DOCTYPE html>
	<head>
	<title>Climate Change</title>
	</head>
	<div class="buttons">
	  <ul>
	    <li><a href="agriculture">Agriculture</a></li>
		<li><a href="forestry">Forestry</a></li>
		<li><a href="biodiversity">Biodiversity</a></li>
	    <li><a href="coastal-areas">Coastal Areas</a></li>
		<li><a href="marine-fisheries">Marine & Fisheries</a></li>
	    <li><a href="critical-infrastructure">Critical Infrastructure</a></li>
		<li><a href="tourism-cultural-heritage">Tourism & Cultural Heritage</a></li>
	    <li><a href="water-management">Water Management</a></li>
	  </ul>
	</div>
	
	<div id="sectors">
	<div class="text-pic-right">
	<img src="/img/water.jpg">
	<img src="/img/farming.jpg">
	<img src="/img/forestry.jpg">
	</div>

	<p>
	<b>Climate Change will impact upon all aspects of Ireland's environment, economy and society </b> 
	</p>
	<p>
	Individual sectors will face differing climate change impacts and will also be presented with differing opportunities.  
	</p>
	<p>
	<b>For example:</b>
	</p>
	<p>
	<b>Agriculture:</b> key projected climate changes include higher temperatures and changes in precipitation patterns, wetter winters and drier summers.  In order to adapt, farmers will have to adopt earlier planting and harvesting dates, lower fertilizer application rates and significant capital investment in irrigation equipment.
	</p>
	<p>
	<b>Water Management:</b> Projections indicate that climate change will have a significant impact on river flows and water resources. Models indicate that in Ireland, winters will be wetter and summer drier.  However, when showers occur, they are likely to be heavier leading to an increased risk of flooding.  Moreover decreases in summer rainfall coupled with a rise in evapotranspiration will mean that reductions in streamflow are likely, particularly during the summer months.  This will lead to problems of water supply.  Adaptation measures include ensuring that water supply sources and associated infrastructure are sufficiently robust to meet future demand.
	</p>
	<p>
	<b>This section details some of the challenges and opportunities that each sector is likely to face, identifies some adaptation options and illustrates these through case study examples.</b>
	</p>
	
	</div>
	
	<div id="agriculture">
	<a name="Agriculture">
	<h2>Agriculture</h2></a>
		
	<p>
	<img src="/img/cows.jpg" align="right">
	Adaptation to weather conditions has always been part of farm management and to some extent adaptation to climate change follows the same principles as adaptation to short term oscillations.  Nonetheless, climate change is predicted to have a significant impacts on agriculture at a global level but for Ireland, the predicted impacts are less severe and in some cases may provide opportunities for the Irish agricultural sector through increased productivity and the creation of new market opportunities. 
	</p>
	<p>
	The primary concerns relate to prejected increases in air and soil temperatures but it is likely that the frequency and intensity of extreme weather events and seasonal variations in precipitation patterns will have the most serious consequences for agriculture.  Climatic variations will have consequences for the availability of water resources, pests and diseases and soils leading to significant changes in the conditions for agriculture and livestock production.
	</p>
	<p>
	<b>
	Key Opportunities
	</b>
	</p>
	<ul>
	<li>Autumn and Spring yields may increase due to higher temperatures.  However, benefits may be offset due to decreased water availability</li>
	<li>Higher air temperatures may mean shorter housing periods and earler turnout dates for cattle in some areas and there may be potential to increase livestock production, either as a result of increased yield potential or to the introduction of forage legumes.</li>
	<li>Adverse impacts of climate change elsewhere may create new market opportunities</li> 
	<li>Less spring frost will result in less frost damage to spring crops, potential improved conditions for horticultre and less cold stress to animals.</li>
	</ul>
	<p>
	<b>Key Impacts</b>
	</p>
	<ul>
	<li>Plant diseases which are currently rare, such as Rhizomania may occur more frequently and farm animals may suffer more from a range of tick borne pathogens.  Exisiting problems for cereals, such as septoria, nodurum and Brown Rust may be exacerbated.</li>
	<li>Wetter winters will adversely effect the mobility of machinery on fields.</li>
	<li>Wetter winters will affect the timing of planting, manure and fertilizer spreading and result in a higher risk of soil poaching</li>
	<li>Increased levels of winter precipitation may require increased levels of drainage during higher precipitation events.  
	<li>Increased levels of winter precipitation may result in nutrient leaching, pollution and soil erosion impacting upon water resources</li> 
	<li>Drier summers may result in moisture stress and this will mean that irrigation might be required to maintain pasture and some crops, this is particular the case for potatoes which might become uneconomic to grow in the late summer months.</li>
	<li>The projected increased in the frequencies of heat waves may mean that plant and animal systems become stressed resulting in lower productivity in crop and milk yields</li>
	</ul>
	<p>
	<b>Adaptation</b>
	</p>
	<p>
	<ul>
	<li>Due to problems of machinery mobility, earlier planting and harvesting dates will need to be adopted</li>
	<li>The risk of reduced water quality due to higher levels of winter precipitation may be addressed through lower levels of fertilizer application</li>
	<li>The risk of water-logging during the winter months may be addressed through increased drainage.  Moreover, the conservation of winter rainfall may offset the deficit in supply during the summer months.</li>
	<li> Significant investment in irrigation equipment might be required to maintain productivity during the summer months</li>
	<li>Traditional crops such as potatoes may become uneconomic to grow due to irrigation costs and alternative crops may need to be considered</li>
	</ul>
	</p>
	<b>Resources</b>
	</p>
	<p>
	<ul>
	<li><a href="http://ec.europa.eu/agriculture/analysis/external/climate/final_en.pdf">Adaptation to Climate Change in the Agricultural Sector</a></li>
	<li><a href="http://www.eea.europa.eu/data-and-maps/indicators/crop-yield-variability/crop-yield-variability-assessment-published">Crop-yield variability (CLIM 032) - Assessment published Sep 2008</a></li>
	<li><a href="http://www.ria.ie/getmedia/eba45f46-3070-4818-acc5-3241eda85ac9/12214-Ria-Agr_climate-chang.pdf.aspx">Royal Irish Academy "2<sup>nd</sup> Scientific Statement: Climate Change and Irish Agriculture" (2003)</a>
	</ul>
	</p>
	</div>
	
	<div id="forestry">
	<a name="Forestry">
	<h2>Forestry</h2></a>
	
	<p>
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Twelve_pins.JPG/320px-Twelve_pins.JPG" align="right">
	  Projected climatic changes for Ireland, increasing temperatures and CO<sup>2</sup>, will <b>increase growth rates</b> of Irish forests but increased growth may negatively impact on <b>timber quality</b> and this growth may be limited due to <b>water and nutrient availability</b>, difficulties in establishing forests and increased risk of <b>disease</b>, <b>pathogens</b> and <b>fire</b>.
	</p>
	<p>
	Forests have developed alongside the naturally changing climate over millennia.  As climate shifted slowly, the natural environment presented few barriers and species and communities could adapt and evolve.  However, the rapid pace of human-induced climate change have overcome species ability to cope and the increased level of commercial afforestation, consisting of exostic conifers and predominately established on marginal or unsuitable lands may mean further adjustment to cope with climate change. 
	</p>
	<p>
	Forestry currently occupies just 10% of the landcover of Ireland, they are young and productive and research suggests that a doubling of forest cover is well within reach.  The management of forestry is a long-term process and forests in Ireland are generally worked on rotation periods (between planting and final harvest) of 40-50 years.  Within this timeframe, climate change is projected to have a significant impact and as a result, introducing and/or adapting management practice that strengthen the ability of forests to withstand the impacts of climate change will be critical.   
	</p>
	<b>Key Opportunities</b>
	<ul>
	<li>Increasing atmospheric CO<sup>2</sup>, a substrate for plant photosynthesis is thought to increase tree growth.  However, the effects of this are variable and dependent upon a wide range of factors including location and age of forest stock</li>
	<li>Increasing temperatures are expected to increase the length of the growing season and result in increased tree growth.</li>
	
	<b>Key Impacts</b>
	
	<ul>
	<li>
	<img src="http://upload.wikimedia.org/wikipedia/en/thumb/a/a5/Windthrow.jpg.JPG/320px-Windthrow.jpg.JPG" align="right">Decreased levels of summer rainfall and increased evapotranspiration may result in loss of vigour at some sites.  Howver, most Irish sites are situated on lands deemed marginal or unsuitable for agriculture and in general, these sites are associated with high water-holding capacity.  None the less, periods of summer drought may be detrimental in the establishment of forests where roots have not yet fully developed.
	</li>
	<li>Under projected climate change for Ireland suggests, the frequency of storms and windiness are expected to increase and these might have a detrimental effect on Irish forests through blowdown, particularly those forests located on relatively exposed sites.
	</li>
	<li>
	Climate change will have an impact upon the spatial and temporal dynamics of pest species, influencing the frequency and consequences of outbreaks and their spatial patterns, size and geographical range.  Projected increases in temperature for Ireland are expected to increase the threat of pathogens while projected decreases in the frequency of cold snaps is expected to decreae die-off of pests. Moreover, insect populations will exploit situations where tress are already stressed due to, amongst others, storm damage, drought or flooding.
	<li>
	Currently, forest fires are relatively infrequent in Irish forests.  Weather (temperature, precipitation, humidity and wind) control the inflammability of Irish forests.  However, a warmer and drier conditions will only increase the risk of forest fire.
	</li>
	<li>
	Certain tree species require frost as part of their growth cycle, projected decreases in the occurence of frost days may have detrimental effects on these.
	</li>
	</ul>
	
	<b>Adaptation</b>
	<ul>
	<li>In a potentially milder climate with wetter winters, the timing of preparation, planting, harvesting and transport may become critical.</li>  
	<li>Where winters become wetter, due to the use of machinery, it may become necessary to complete all prepartory work prior in the summer and autumn prior to planting in winter.</li>
	<li>With a longer growing season, optimal planting dates may be affected, post planting care may also become critical and this is particularly the case for areas experiencing warmer drier summers which is commonly the cause of tree mortality in newly planted areas. </li>
	<li>Due to the use of heavy machinery, there may be increased pressure to undertake harvesting in drier summer periods.</li>
	<li>Projected climate changes indicate increased temperatures and this would suggest more favourable habitats for insects, pathogens and mammals (e.g. deer).</li>
	<li>Species suitability may change and it is important to consider the planting stock when planning for climate change</li>
	</ul>
	<p>
	</p>
	<b>Resources</b>
	<ul>
	<li><a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=COM:2010:0066:FIN:EN:PDF">EC Green Paper: On Forest Protection and Information in the EU: Preparing Forests for Climate Change</a></li>
	<li><a href="http://ec.europa.eu/agriculture/analysis/external/euro_forests/full_report_en.pdf">Impacts of Climate Change on European Forests and Options for Adaptation</a></li>
	<li><a href="http://www.impactproject.eu/index.php">IMPACT: Integrated Management of Forest Pests Addressing Climate Trends"</a></li>
	<li><a href="http://www.coford.ie">The COFORD Council for Forest Research and Development</a></li>
	<li><a href="efdac.jrc.ec.europa.eu">The European Forest Data Centre<a/></li>
	</ul>
	
	</div>
	
	<div id="biodiversity">
	<a name="Biodiversity">
	<h2>Biodiversity</h2></a>
	<p>
	</p>
	</div>
	
	<div id="coastal-areas">
	<a name="Coastal Areas">
	<h2>Coastal Areas</h2></a>
	<p>
	Coastal erosion and flooding pose serious threats, both economic and social, to the coast of Ireland and this is particularly the case as Ireland's major cities (Dublin, Cork, Limerick and Galway) are located on the coast. Climate change projections indicate that increasingly sea level may become a major issue for coastal areas, including urban, agricultural and natural systems.  
	</p>
	<p>
	In addition to the loss of coastal land due to teh gradual rise in sea level, more dramatic impacts are projected due to the increased occurence of wind-driven storm surge and this is particularly the case when wind-driven storm surges coincide with a high spring tide.  During these events, significant areas of land can be lost instantaneously.   
	</p>
	<p>
	<b>Key Impacts</b>
	</p>
	<ul>
	<li>Increased risk of the physical loss of land, coastal innundation and resulting damage to infrastructure situdated along the coast</li>
	<li> Rising sea levels have the potential to innundate freshwater ecosystems and affect the quality of ground waters.  With projected decreases in summer rainfall, Ireland may become increasingly reliant on groundwater supply and their salinisation may have serious consequences</li>
	<li>Projected increases in sea surface temperatures are expected to increase the intensity and frequency of cyclones which will result in more extreme storm activity with the potential to bring the devastation and storm surges to teh coast of Ireland</li>
	<li>Sea level rise, increased storminess and wave heights will likely intensify erosion rates and accelerate loss of land</li>
	<li>In conjunction with increased surface water runoff, particularly due to extreme rainfall events, sea level rise and wind-driven storm surges amy result in estuarine and river flooding</li> 
	</ul>
	<p>
	<b>Key Opportunities</b>
	</p>
	<ul>
	<li>Rising sea levels
	</ul>
	</div>
	
	<div id="marine-fisheries">
	<a name="Marine & Fisheries">
	<h2>Marine & Fisheries</h2></a>
	<p>
	</p>
	</div>
	
	<div id="critical-infrastructure">
	<a name="Critical Infrastructure">
	<h2>Critical Infrastructure</h2></a>
	<p>
	</p>
	</div>
	
	<div id="tourism-cultural-heritage">
	<a name="Tourism & Cultural Heritage">
	<h2>Tourism & Cultural Heritage</h2></a>
	<img src="/img/ireland.jpg" align="right" style="margin: 0 10px 10px 10px">
	<p>
	Increased temperatures and decreased levels of precipitation in summer increase the likelihood of having 'good weather', a key motivation in the choice of holiday destination.  However, a changing climate will also have the potential for negative impacts on Irish tourism and the adoption of appropriate adaptation responses will be critical in taking advantage of our changing climate.
	</p>
	<p>
	<b>Key Opportunties</b>
	<ul>
	<li>Increased temperatures and drier summers will provide the opportunity for a more prolonged tourist season with expansion from the present peak tourism months (May-August) into 'shoulder' months of April and September/October</li> 
	<li>Climate change will result in increasing temperatures and drier weather in the Mediterranean regions and is expected to result in decreased tourist flows as it becomes uncomfortably hot.  This combined with decreased availability of water will mean a shift away from this region is likely.  This shift will expand into higher latitudes and altitudes.  Consequently, northern European countries, including Ireland, are likely to become more favourable holiday destinations.</li>
	<li>Under these conditions, a higher number of domestic tourists are expected.</li>
	<li>Under projected climate conditions, the diversification of tourism activities is expected including the development of outdoor activities and the expansion of nature-based activities.</li>
	</ul><b>Key Impacts</b>
	</p>
	<p>
	<ul>
	<li>Water supply in Ireland is designed to cater for the permanent population and it does not take into account increased numbers due to tourist arrivals when populations of small towns (e.g. Killarney) can double over the tourist season.  Climate change will have serious implications for water management and consideration of water infrastructure at pivotal locations to allow for consumption of water across all seasons will be required.</li>
	<li>Water-based activites (e.g. angling and boating) are a primary tourism and recreational activity.  Under a changing climate, there is to be an expected increase in the attractiveness of these activities.  However, climate change will have negative impacts on the quality of water with a greater risk of eurtophication, low flows in water bodies, marine ecosystems and fish stocks may be altered and increased storminess may impact on coastal activities</li>
	<li>Any impacts on the natural environment such as those posed by climate change are likely to impact on tourism and tourist perception of Ireland.  Ireland's landscape and associated colours rely on Ireland's temperate and precipitous climate and with projected decreases in levels of rainfall, the green landscape associated with Ireland is likely to change</li>
	</ul>
	</p>
	<b>Adaptation</b>
	<p>Appropriate adaptation response will maximise Ireland's potential for tourism in a changing climate and these adaptation options include both hard and soft measures.  Examples include:</p>
	<ul>
	<li>Eduction and Training on issues of climate change for Tourism</li>
	<li>Adaptation of destination - climate proofing and retros-fitting</li>
	<li>Changing operating patterns and divserisfying activities</li>
	</ul>
	
	</p>
	<b>Resources</b>
	<ul>
		<li><a href="http://www.heritagecouncil.ie/fileadmin/user_upload/Publications/Inland_Waterways/General/Climate_Summary_English.pdf">Climate Change, Heritage and Tourism: Implications for Ireland's Coast and Inland Waterways (2009)</a></li>
		<li><a href="http://www.climalptour.eu/content/sites/default/files/04_Salmon_0.pdf">Tourism and Climate Change in Ireland: Impacts and Adaptation</a></li>
		</ul>
	
	</div>
	
	<div id="water-management">
	<a name="Water Management">
	<h2>Water Management</h2></a>
	<p>
	</p>
	</div>