<!DOCTYPE html>
	<head>
	<title>tools</title>
	</head>
	
	<div id="tools">
	<h3>Adaptation Tools</h3>
	</p>Undertaking the adaptation process may seem to be a difficult task.  However, a range of tools, methods and guidance are available to help you to develop your own adaptation plans.<img src="/img/web-tool-box.jpg" align="right" width="33%"></p>  
	<p>Ongoing and future development of Climate Ireland involves the provision of specific frameworks and tools designed specifically for decision makers in Ireland.  For the present, on this page you will find links to existing and international tools, methods and guidance to help you identifiy the impacts of climate change on your sector/area, minimize the risks and/or exploit opportunities presented by these.  </p>
	
	<ul>
	<li><a href="http://www.ukcip.org.uk/wizard/">UKCIP Adaptation Wizard</a><p>Developed by the <a href="www.ukcip.org.uk">United Kingdom Climate Inmpact Programme (UKCIP)</a>, the UKCIP Adaptation Wizard is a tool designed take your organisation through the adaptation process - assessing your vulnerability to climate change, identifying adaptation options, and helping you to develop and implement a climate change adaptation strategy.</p></li>
	<li><a href="http://climate-adapt.eea.europa.eu/web/guest/general">The European Climate Adaptation Platform: Adaptation Support Tool</a>
	<p>Developed as part of the European Climate Adaptation Platform (Climate-Adapt) and based upon the UKCIP Adaptation Wizard and various risk assessment frameworks, this tool aims to assist users in developing climate change adaptation policy, providing guidance, links to relevant sources and dedicated tools.</p></li>
	<li><a href="http://climate-adapt.eea.europa.eu/sat">The European Climate Adaptation Platform: Case Study Search Tool</a><p>In order to examine adaptation activities currently being undertaken in Europe, this tools provides geographical access to case study examples.</p></li>
	<li><a href="http://www.ukcip.org.uk/bacliat/">BACLIAT: Business Areas Climate Assessment Tool</a><p>Developed as part of UKCIP, the BACLIAT tool is specifically designed to help Businesses explore the implications of climate change for their sector.</p></li> 
	</ul>
	</div>