<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">@import "/css/Clad.css";</style>
<style type="text/css">@import "../../../resources/public/css/Clad.css";</style>
<link href="Clad.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
  <div class="banner"><img src="/img/Clad_logo_big.jpg" alt="Coastal Resilience &amp; Climate Adaptation Ireland" width="633" height="87" align="absmiddle" /></div>
   <div id = "buttons">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Climate Change</a></li>
      <li><a href="#">Adaptation</a></li>
      <li><a href="#">Tools and Methods</a></li>
      <li><a href="#">Governance</a></li>
      <li><a href="#">Case Studies</a></li>
      <li><a href="#">Capacities</a></li>
      <li><a href="#">ICRN</a></li>
    </ul>
  </div>
  <div class="Scroll"><marquee> Climate is changing </marquee></div>
  <div class="col1">
    <div class="col1b"><h3>
      Essential
      </h3>
      <ul><li id="essentials">one</li>
      </ul>
    </div>
    <div class="col1b"><h3>Projections<h3>
      <ul><li id="projections">one</li></ul></div>
    <div class="col1b"><h3>Impacts on Irish<h3>
      <ul><li id="Impacts">one</li></ul></div>
    <div class="col1b"><h3>How to deal with it<h3>
      <ul><li id="howto">one</li></ul></div>
  </div>
  <div class="Content" id="Content_frame">  
    <div class="CF1">
      <div class="CF1_1"><h3>Texts<h3></div>
      <div class="CF1_1"><h3>Picture<h3></div>
    </div>
    <div class="CF2">
    </div>
  </div>
  <div class="col2">
    <div class="col2b" id="col2b_1"><h3>Glossary<h3></div>
    <div class="col2b" id="col2b_2"><h3>More Information<h3></div>
  </div>
</div>
</body>
</html>