<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">@import "/css/Clad.css";</style>
<style type="text/css">@import "../../../resources/public/css/Clad.css";</style>
<link href="Clad.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="wrapper">
    <div class="banner"><img src="/img/Banner.jpg" alt="Coastal Resilience &amp; Climate Adaptation Ireland" width="1529" height="87" align="absmiddle" /></div>
    <div id = "buttons">
      <ul>
	<li><a href="#">Home</a></li>
      </ul>
    </div>
    <div class="Scroll"><marquee> Climate is changing </marquee></div>
    
    <div id="Left">
      <div class="left_links">
	<p class="section">
	  <h3>Essential</h3>
	  <ul><li>Format, don't edit</li>
	  </ul>
	</p>
      </div>
    </div>
    <div class="Content" id="Content_frame">  
      <div class="CF1">
	<div class="CF1_1" id="Key_Text"><h3>Texts</h3></div>
	<div class="CF1_1" id="Picture"><h3>Picture</h3></div>
      </div>
      <div class="CF2" id="Main_Text">
      </div>
    </div>
    <div class="col2">
      <div class="col2b" id="Glossary"><h3>Glossary<h3></div>
	  <div class="col2b" id="col2b_2"><h3>More Information</h3></div>
	</div>
      </div>
    </div>
  </body>
</html>
