<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">@import "/css/Clad.css";</style>
<style type="text/css">@import "../../../resources/public/css/Clad.css";</style>
</head>

<body><div class="wrapper">
  <div class="banner"><img src="im/Clad_logo_big.jpg" alt="Coastal Resilience &amp; Climate Adaptation Ireland" width="633" height="87" align="absmiddle" /></div>
   <div id = "buttons">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Climate Change</a></li>
      <li><a href="#">Adaptation</a></li>
      <li><a href="#">Tools and Methods</a></li>
      <li><a href="#">Governance</a></li>
      <li><a href="#">Case Studies</a></li>
      <li><a href="#">Capacities</a></li>
      <li><a href="#">ICRN</a></li>
    </ul>
  </div>
<div class="Scroll"><marquee> Climate is changing </marquee></div>
  <div class="Col1_2" id="col1_p2">
    <div class="Col1_2_b"><h3> Key Messages<h3></div>
    <div class="Col1_2_b"><h3>Coastal Resilience<h3></div>
    <div class="Col1_2_b"><h3>User Guide<h3></div>
    <div class="Col1_2_b"><h3>FAQ<h3></div>
  </div>
  <div id="Col2_2">
    <div class="Col2_2_B" id="Col2_2_1"><h3>Text<h3></div>
    <div class="Col2_2_B" id="Col2_2_1"><h3>News<h3></div>
  </div>
	<div class="Col3_2" id="Col3_2">
      <div class="Col_3_2_B" id="Col_3_2_B"><h3>Picture<h3></div>
	</div>
	<div class="Col_4_2" id="Col4_2">
	  <div class="Col_4_2_B_1" id="Col_4_2_B_1"><h3>Log In <h3></div>
	  <div class="Col_4_2_b_2"><h3>Contacts<h3></div>
      <div class="Col_4_2_b_2"><h3>About<h3></div>
      <div class="Col_4_2_B_1" id="Col_4_2_B_1"><h3>Blog etc<h3></div>
      <div class="Col_4_2_B_1" id="Col_4_2_B_1"><h3>Events<h3></div>
    </div>
</body>
</html>
