<div id="home_ic"> 
  <div class="Right">
    <h3>Irish Coast and CC</h3>
    <p>TODO right</p>
  </div>  
  <div class="Upper_Left">
    <h3>key text</h3>
    <p>TODO upper left</p>
  </div>   
  <div class="Lower_Left">
    <h3>key text</h3>
    <p>TODO lower left</p>
  </div>  
</div>

<div id="home_how">
  <div class="Right">
    <h3>How can I use this site?</h3>
    <p>TODO r</p>
  </div>  
  <div class="Left">
    <h3>How can I use this site?</h3>
    <p>TODO l</p>
  </div>  
</div>

<div id="home_news">
  <div class="Header_Left">
    <p>TODO</p> 
  </div>
  <div class="Header_Right">TODO
  </div>
  <div class="Main_Text">
    <h3>News and Events</h3>
    <p>TODO</p>
  </div>  
</div>
