<div id="coastal-erosion">
<p>Rising sea levels combined with increased 
wave heights and more intense surges will 
put Ireland's coastal areas at risk of coastal
erosion.</p>
</div>

<div id="increasing-temperatures">
<p>For all of ireland, 
temperatures are 
projected to increase 
by 1-3°C by the end 
of the century</p>
</div>

<div id="coastal-flooding">
<p>Increasing sea levels combined 
with increasing wave heights 
and storm surge intensity will 
put Ireland's major cities at risk 
of coastal flooding.</p>
</div>

<div id="growing-season">
<p>Increasing temperatures and 
atmospheric CO2 are 
expected to prolong the 
growing season</p>
</div>

<div id="wetter-winters">
<p>Levels of winter 
precipitation are projected 
to increase, particularly in 
areas of the west.</p>
</div>

<div id="inland-flooding">
<p>Increased levels of winter precipitation will result be an increased risk of inland flooding with new areas being put at risk.</p>
</div>

<div id="drought">
<p>Decreased levels of summer precipitation, particularly in the south and south east, may result in the increased occurrence of drought conditions.</p>

<div id="extreme-weather">
<p>Increased intensities of extreme events are projected for all Ireland</p>
</div>