<html>
<header>
</header>
<body>
  <form method="POST" action="/login">
    Username: <input type="text" name="username" size="15" /><br />
    Password: <input type="password" name="password" size="15" /><br />
    <div align="center">
      <p><input type="submit" value="Login" /></p>
    </div>
  </form>
  <div id="text-box">
  <p>
  <center><b>Climate Ireland, your source of information and data for adaptation planning</b></center>
  </p>
  <center><p>
  'Climate Ireland' is being developed by the <a href="http://www.cmrc.ie">Coastal and Marine Research Centre</a> at UCC as part of the <a href="www.epa.ie">EPA</a>-funded project <a href="http://www.cmrc.ie/projects/epa-irelands-climate-information-platform.html">'Climate Information Platform for Ireland'</a>.
  </center></p>
  </div>
  
 <div id="map">
<b>Welcome to Climate Ireland</b>

<p>In conjunction with Environmental Protection Agency (EPA), the Coastal and Marine Research Centre (CMRC) at University College Cork (UCC) is developing a system (Climate Ireland) that delivers climate information and data for Ireland.  In order to best develop the system, the CMRC desires that the system be tested as a part of development and prior to general release.  If you agree to act as a tester for the system, you are agreeing to comply with the following terms and conditions of use.</p>

<ul>
<li>The content of the pages is for your information and use only.  It is subject to change without notice;</li>
<li>Neither the CMRC nor any third parties provide any warranty or guarantee to the accuracy of information contained on climateireland and your use of any information or materials on climateireland is entirely at your own risk;</li>
<li>Users agree to serve as a tester for Climate Ireland and will notify the Climate Ireland development teams of problems and ideas for enhancement which come to the Users attention;</li>
<li>Users agree to respond to reasonable inquiries from the climateireland development team with regard to functionality, performance and overall experience with respect to Climate Ireland;</li> 
<li>Users agree that the system is the sole property of the climateireland development team until it is officially released and agree to treat the system as confidential.</li>
</ul>
  </div>
</body>
</html>
