<html>
<header>

<meta content="text/html; charset=UTF-8" http-equiv="content-type" />

</header>
<body>
  <form method="POST" action="/login">
    Username: <input type="text" name="username" size="15" /><br />
    Password: <input type="password" name="password" size="15" /><br />
	<div align="center">
      <p><input type="submit" value="Login" /></p>
    </div>
  </form>
  
  <p></p>
<p></p>
  
 <h2 style="text-align:center">Pre-Announcement: Climate Change Adaptation Guidelines Research Workshop</h2>
<h3 align="center">Date: May 2014; Venue: Dublin</h3>

<h5 style="text-align:center"><a href="/downloads/adaptation-research-ws-flyer.pdf" target="_blank">Click here to view a copy of the workshop flyer</a></h5>

<h3 style="text-align:center; color:red"><a href="/downloads/interim-climate-adapt-support-pack.pdf" target="_blank">Click here to download a Preliminary Climate Change Adaptation Resource Pack</a></h3>
<figure style="float:right;"><img src="/img/submerged-car-limerick-deric-hartigan.jpg" style="max-width: 220px"><figcaption>Photo credit: Deric Hartigan</figcaption></figure>



<p><strong>Rationale:</strong>  Under the National Climate Change Adaptation Framework, Local Authoritiesare mandated to integrate climate change adaptation into their development plans. This process is to to be underway by mid-2014. The EPA through its research programme is facilitating information provision and analysis support for this activity.</p>
<p><strong>Purpose:</strong>
This one day workshop will provide an
overview of the guidelines and tools that are
currently being developed to facilitate the integration
of climate adaptation into local authority planning.</p>
<p><strong>Aim:</strong>
The workshop aims to introduce loacl authorities to the process of developing an adaptation strategy, and to discuss the means of mainstreaming the strategy into development planning.</p> 
<p><strong>Audience:</strong>
The workshop is primarily targeted at those tasked with integrating adaptation into
development plans.  However, it may also be of benefit to sectoral planners engaged in adaptation processes. 
</p>

<div style="width:100%" align="center">

<h3 style="text-align:center">To register you interest, please contact Stefan Gray (<a href="mailto:s.gray@ucc.ie?Subject=Adaptation%20Workshop" target="_top">send mail</a>) or Barry O'Dwyer (<a href="mailto:b.odwyer@ucc.ie?Subject=Adaptation%20Workshop" target="_top">send mail</a>)</h3>
</div>
 
</body>
</html>
