<html>
<header>
</header>
<body>
  <form method="POST" action="/login">
    Username: <input type="text" name="username" size="15" /><br />
    Password: <input type="password" name="password" size="15" /><br />
    <div align="center">
      <p><input type="submit" value="Login" /></p>
    </div>
  </form>
  <div id="text-box" >
  <p>
  <center><b>Climate Ireland, your source of information and data for adaptation planning</b></center>
  </p>
  <center><p>
  'Climate Ireland' is being developed by the <a href="http://www.cmrc.ie">Coastal and Marine Research Centre</a> at UCC as part of the <a href="www.epa.ie">EPA</a>-funded project <a href="http://www.cmrc.ie/projects/epa-irelands-climate-information-platform.html">'Climate Information Platform for Ireland'</a>.
  </center></p>
  </div>
  
</body>
</html>
