<html>
<body>
  <div id="view-2-map-tool">
    <div class="maptools">
	<form name="maptools" action="/ci/maptools" method="get">
      Regions: <select name="regions" id="regions">
	<option value="JJA"/>
      </select>
      Variable: <select name="variable" id="variables">
	<option value="JJA"/>
      </select>
      Years: <select name="years" id="decades">
	<option value="JJA"/>
      </select>
      <br/>
      Season:
      <select name="months" id="months">
	<option value="JJA"/>
      </select>
      Scenario:
      <select name="runs" id="runs">
	<option value="JJA"/>
      </select>
      <select name="abs" id="abs">
	<option value="Delta"/>
      </select>
      <input type="hidden" name="region" id="region"/>
      <input type="submit" value="Change" />
    </form>
	</div>
	
	</div>

</body>
</html>
