
<h3>Welcome to Climate Ireland</h3>

<p>In conjunction with the Environmental Protection Agency (EPA), the Coastal and Marine Research Centre (CMRC) at University College Cork (UCC) is developing a system (Climate Ireland) that delivers climate information and data for Ireland.  In order to best develop the system, the CMRC desires that the system be tested as a part of development and prior to general release.  If you agree to act as a tester for the system, you are agreeing to comply with the following terms and conditions of use.</p>

<ul class="no-indent">
<li>The content of the pages is for your information and use only.  It is subject to change without notice;</li>
<li>Neither the CMRC nor any third parties provide any warranty or guarantee to the accuracy of information contained on Climate Ireland and your use of any information or materials on Climate Ireland is entirely at your own risk;</li>
<li>Users agree to serve as a tester for Climate Ireland and will notify the Climate Ireland development teams of problems and ideas for enhancement which come to the Users attention;</li>
<li>Users agree to respond to reasonable enquiries from the Climate Ireland development team with regard to functionality, performance and overall experience with respect to Climate Ireland;</li> 
<li>Users agree that the system is the sole property of the Climate Ireland development team until it is officially released and agree to treat the system as confidential.</li>
</ul>