<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Adaptation</title>
  </head>
  <body>
  <b>Welcome to Climate Ireland, your source of climate information and data for climate adaptation planning.</b>

  <p>The Climate Ireland resource is being developed by the Coastal & Marine Research Centre at UCC as part of the EPA-funded project 'Climate Information Platform for Ireland'(2010-CCRP-MS-2.1)</p>
  
  <p>Climate Ireland is currently in development and will become public in late summer 2013</p>
  </body>