<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Climate Ireland</title>
<style type="text/css">
  @import "/css/style.css";
</style>
<style type="text/css">
  @import "resources/public/css/style.css";
</style>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="wrapper">
    <div id="user"/>
    <div id = "banner">
      <img src="/img/Climate-Ireland-Logo-RGB.png" />
      <div class = "buttons" id="buttons">
	<ul>
	  <li><a href="/ci/about">About</a></li>
	  <li><a href="/ci/climate-change/what-is-climate-change">Climate Change</a></li>
	  <li><a href="/ci/adaptation/climate-adaptation">Adaptation</a></li>
	  <li><a href="/ci/welcome/plot/Cork/DJF/T_2M">Climate Information</a></li>
	  <li><a href="#">Sectors</a></li>
	  <li><a href="#">Case Studies</a></li>
	</ul>
      </div>
    </div> 
    <div id="main">
      <div id="col1">
	<div class="col1b" id="news">News</div>
	<div class="colb2" id="events">Events</div>
	<div class="colb3" id="faqs">FAQs</div>
      </div>
	<div id="view-3-text">
	  <div id="tabs"/>
	  <div id="content"/>
	</div>
    </div>
    <div id="footer">
      <img src="/img/epa.png" width="106" height="55" alt="EPA logo" align="left" />
      <img src="/img/CMRCLogo.png" width="392" height="64" alt="CMRC Logo" align="right"/></div>
  </div>
  </div>
</body>

</html>
