<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso8859-1" />
    <title>Climate Ireland</title>
    <style type="text/css">
      @import "/css/style.css";
    </style>
    <script src="/js/svg.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33996197-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>  
  </head>
  
  <body>
    <div id="wrapper">
      <div id = "banner">
	<a href="http://www.climateireland.ie"><img src="/img/Climate-Ireland-Logo-RGB.png"/></a>
	<div class = "buttons" id="buttons">
	  <ul>
	    <li><a href="/ci/about">About</a></li>
	    <li><a href="/ci/climate-change/climate-change">Climate Change</a></li>
	    <li><a href="/ci/adaptation/adaptation">Adaptation</a></li>
	    <li><a href="/ci/welcome/svgbar/Leinster/2051-60/JJA/ensemble/ensemble/T_2M/linear">Climate Information</a></li>
	    <li><a href="/ci/sectors/sectors">Sectors</a></li>
	    <li><a href="/ci/resources/resources">Resources</a></li>
	  </ul>
	</div>
	<div id="tabs">
	</div>
      </div> 
      <div id="main">
	<div id="col1">
	  <div class="col1b" id="news"><p>News</p>
	  <b>Updated: 11/09/2012</b>
	  <p>Users can now explore projected climate data for Ireland through the <a href="/ci/welcome/svgbar/Leinster/2051-60/JJA/ensemble/ensemble/T_2M/linear">Climate Information Page.</a></p>
	  </div>
	  <div class="colb2" id="events">Events</div>
	  <div class="colb3" id="faqs">FAQs</div>
	</div>
	<div id="view-3-text">
	  <div id="content"/>
	</div>
      </div>
      <div id="footer">
	<a href="http://www.epa.ie"><img src="/img/epa.png" width="106" height="55" alt="EPA logo" align="left" /></a>
	<a href="http://www.cmrc.ie"><img src="/img/CMRCLogo.png" width="392" height="64" alt="CMRC Logo" align="right"/></a></div>
    </div>
  </div>
</body>

</html>
