@charset "utf-8";
.wrapper {
	background-color: #FFFFFF;
	width: 1530px;
	/* [disabled]height:auto; */
	position: absolute;
	left: 5%;
	top: 66px;
	right: 5%;
	bottom: 5%;
	/* [disabled]border: thin solid #000; */
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.Col1_2_b {
	background-color: #F90;
	height: 146px;
	width: 218px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
}

.banner {
	background-color: #FFF;
	position: relative;
	height: 87px;
	width: 1526px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	/* [disabled]border-bottom-style: solid; */
	border-left-style: solid;
}
#buttons {
	background-color: #FFF;
	height: 25px;
	width: 1526px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#buttons ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#buttons ul li { 
    display: inline; 
}
#buttons ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #036;
	width: 200em;
}
#buttons ul li a:hover
{
    color: #fff;
    background-color: #369;
}
.Scroll {
	background-color: #CFC;
	height: 25px;
	width: 1526px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#Left {
	background-color: #F90;
	height: 640px;
	width: 216px;
	float: left;
	position: relative;
	border: thin solid;
}
.Content {
	height: 640px;
	width: 70%;
	position: relative;
	float: left;	
}	
.Main_Text, .Key_Text, .Picture, .Right, .Upper_Left, .Lower_Left, .Right, .Left{
        margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	overflow: scroll;
	text-align: justify;
	text-indent: 0%;
}
.col2 {
	background-color: #FFF;
	float: left;
	height: 640px;
	width: 15%;
	position: relative;
}
.col2b {
	position: relative;
	height: 300px;
	width: 218px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #F90;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 8px;
}
.left_links {
	background-color: inherit;
	height: auto;
	width: 216px;
	border: 0;
	position: relative;
	overflow: hidden;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	float: none;
}
.left_links li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/* [disabled]padding-bottom: 1em; */
	list-style-type: none;
}
.C1 {
	position: relative;
	height: 40px;
	width: 100px;
}
.Header {
	overflow: hidden;
	position: relative;
	height: 40%;
	width: 100%;
}
.Main_Text {
	position: relative;
	height: 360px;
	width: 1053px;
	background-color: #EAFFFF;
}
.Key_Text, .Picture, .Upper_Left, .Lower_Left, .Right {
	float: left;
	height: 233px;
	width: 517px;
	position: relative;
	overflow: hidden;
	background-color: #FFF;
	padding: 0px;
}
.Left {
    height: 600px;
    width: 517px;
    padding: 0;
    margin: 0;
    float: left;
    overflow: visible;
    border: 0;
}
.Right {
    height: 620px;
    float: left;
    width: 530px;
    margin-left: 8px;
}
.Upper_Left {
    height: 300px;
    width: 500px;
}
.Lower_Left {
    height: 300px;
    width: 500px;
}
p, h3 {
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
