@charset "utf-8";
.wrapper {
	background-color: #FFF;
	width: 1530px;
	/* [disabled]height:auto; */
	overflow: hidden;
	position: absolute;
	left: 5%;
	top: 66px;
	right: 5%;
	bottom: 5%;
	/* [disabled]border: thin solid #000; */
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.Col1_2_b {
	background-color: #F90;
	height: 146px;
	width: 210px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.banner {
	background-color: #FFF;
	position: relative;
	height: 87px;
	width: 1526px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	/* [disabled]border-bottom-style: solid; */
	border-left-style: solid;
}
#buttons {
	background-color: #FFF;
	height: 25px;
	width: 1526px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#buttons ul { 
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-align: center;
}
#buttons ul li { 
    display: inline; 
}
#buttons ul li a { 
    text-decoration: none; 
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
    width: 200em; 
}
#buttons ul li a:hover
{
    color: #fff;
    background-color: #369;
}
.Scroll {
	background-color: #CFC;
	height: 25px;
	width: 1526px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.col1 {
	background-color: #FFF;
	height: 640px;
	width: 15%;
	float: left;
	position: relative;
	border: thin none #000;
}
.Content {
	background-color: #FFF;
	height: 640px;
	width: 70%;
	position: relative;
	float: left;
}
.col2 {
	background-color: #FFF;
	float: left;
	height: 640px;
	width: 15%;
	position: relative;
}
.col2b {
	position: relative;
	height: 300px;
	width: 210px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #F90;
}
.col1b {
	background-color: #F90;
	height: 146px;
	width: 210px;
	border: thin solid #999;
	position: relative;
	overflow: hidden;
	margin: 8px;
}
.C1 {
	position: relative;
	height: 40px;
	width: 100px;
}
.CF1 {
	overflow: hidden;
	position: relative;
	height: 40%;
	width: 100%;
}
.CF2 {
	position: relative;
	height: 360px;
	width: 1053px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	overflow: scroll;
}
.CF1_1 {
	float: left;
	height: 233px;
	width: 517px;
	position: relative;
	overflow: hidden;
	background-color: #FFF;
	margin: 8px;
	padding: 0px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
p, h3 {
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
.Col1_2 {
	height: auto;
	width: 230px;
	float: left;
}
#Col2_2 {
	float: left;
	height: auto;
	width: 535px;
}
.Col2_2_B {
	height: 305px;
	width: 515px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.Col3_2 {
	float: left;
	height: 640px;
	width: 535px;
}

.Col_3_2_B {
	height: 620px;
	width: 515px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.Col_4_2_B_1 {
	height: 153px;
	width: 210px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #F90;
}
.Col_4_2_b_2 {
	height: 56px;
	width: 210px;
	margin: 8px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #F90;
}

.Col_4_2 {
	float: left;
	height: 640px;
	width: 230px;
}
#essentials {
        font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}