html {
	width: 100%;
	height: 100%;
	margin: 0px;
}
body {
	width: 100%;
	height: 95%;
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: no-repeat;
	font-family: "GentiumRegular", Georgia, "Times New Roman", serif;
	line-height: 130%;
	color: #252525;
	background-color: #ffffff;
}
#wrapper {	
    width: 1530px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    background-color: #999;
}
#banner {
    width: 100%;
    font-size: 72px;
    background-color: #499;
    height: 80px;
    text-align: center;
}
#buttons {
    width: 100%;
    height: 30px;
}
#buttons ul { 
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-align: center;
}
#buttons ul li { 
    display: inline; 
}
#buttons ul li a { 
    text-decoration: none; 
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
    width: 200em; 
}
#buttons ul li a:hover
{
    color: #fff;
    background-color: #369;
}
#scroll {
	width:100%;
	height:30px;
	background-color: #B99;
}
.hbutton {
	width: 20%;
	float: right;
	overflow: hidden;
	text-align: center;
}
#col1 {
	background-color: #F99;
	float: right;
	height: 600px;
	width: 20%;
	position: relative;
}
#blurb {
	background-color: #D99;
	float: right;
	height: 600px;
	width: 40%;	
}
#map {
	background-color: #A99;
	float: right;
	height: 600px;
	width: 40%;
}
.col1b {
	background-color: #E99;
	height: 200px;
	width: 100%;
}
.colb2 {
	height: 200px;
	width: 100%;
	background-color: #999;
}
#main {
	width:100%;
	background-color: #C99;
}
.colb3 {
	background-color: #899;
	height: 200px;
	width: 100%;
}
#foot {
	width:100%;
	height:200px;
}
.brow {
	background-color: #799;
	height: 100px;
	width: 510px;
	float: right;
}
