html {
	width: 100%;
	height: 100%;
	margin: 0px;
}
body {
	width: 100%;
	height: 95%;
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 130%;
	color: #252525;
	background-color: white;
	font-size: small;
	text-align: justify;
	
}
#wrapper {
	width: 1024px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
}
#banner {
	width: 1018px;
	height: 80px;
	text-align: left;
	border: 3px solid #396538;
	border-radius: 5px;
	background-image:url(/img/Banner.jpg);
}
#banner img {
    height: 80px;
	float: left;
}
#buttons {
	position: relative;
	top: 60px;
	width: 1000px;	
}
.buttons ul { 
    margin: 0;
    padding: 3px;
    list-style-type: none; 
    text-align: center;
}
.buttons ul li { 
    display: inline;
}
.buttons ul li a {
	text-decoration: none;
	padding: 0.1em 0.5em;
	color: #fff;
	background-color: #436756;
	width: 60em;
}
.buttons ul li a:hover
{
    color: #fff;
    background-color: #369;
}
#scroll {
	width:100%;
	height:30px;
}
.hbutton {
	width: 20%;
	float: right;
	overflow: hidden;
	text-align: center;
	
}
#col1 {
	float: left;
	height: 600px;
	width: 170px;
	position: relative;
	border: 3px solid; 
	border-color: #396538;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	margin-left: 0px;
	background-color: rgba(39,65,38, 0.05);
}
#blurb {
	float: right;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 396px;
	padding: 10px;
}
#map {
	float: right;
	height: 600px;
	width: 397px;
	padding: 10px;
}
#map img {
	max-height: 100%;
	max-width: 100%;
}
.col1b {
	height: 200px;
	width: 100%;
}
.colb2 {
	height: 200px;
	width: 100%;
}
#main {
	width:100%;
	
}
.colb3 {
	height: 200px;
	width: 100%;
}
#footer {
	width: 1018px;
	height: 60px;
	text-align: right;
	border: 3px solid #396538;
	border-radius: 5px;
	float: left;
	background-color: rgba(39,65,38, 0.05);
	}
#view-2 {
	width: 1024px;
	height: 600px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
}
#view-2-1 {
	width: 505px;
	height: 595px;
	float: left;
	border: 3px solid #396538;
	border-radius: 5px;
	
}
#view-2-2 {
	width: 505px;
	height: 595px;
	float: left;
	border: 3px solid #396538;
	border-radius: 5px;
	float: right;
}
#view-2-map {
	width: 500px;
	height: 525px;
	float: left;
}
#view-2-map-tool{
	width: 500px;
	height: 70px;
	float: left;	
}
#view-2-2-chart {
	width: 500px;
	height: 425px;
	float: left;
}
#view-2-2-expl {
	width: 500px;
	height: 170px;
	float: left;
}
#view-3-text{
	width: 810px;
	height: 600px;
	float: right;
	padding: 5px;
	border: 3px solid #396538;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow:scroll;
	}
	#view-3-text img{
	margin: 5px;
	}

.text-pic-right{
	width: 200px;
	height: 600px;
	float: right;
	padding: 5px;
	position:relative;
	margin: 5px;
	margin-top: 20px;
	}
	.text-pic-right img{
	margin: 5px;
	}
	
.text-pic-bottom{
	width: 790px;
	height: 150px;
	position: relative;
	}
	
#text-box{
	padding: 5px;
	border: 3px #396538 solid;
	background-color: #BDD2B7;	
	}
	
.picture { 
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC; padding: 5px;
	font: 11px/1.4em Arial, sans-serif;
	max-width: 340px;	
	}

.picture img { 
	border: 1px solid #CCCCCC;
	vertical-align:middle; margin-bottom: 3px; 
	max-width:330px;
	}

.right { 
	margin: 0.5em 0pt 0.5em 0.8em; float:right; 
	}

.left { 
	margin: 0.5em 0.8em 0.5em 0; float:left; 
	}
	
.picture-large { 	
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC; padding: 5px;
	font: 11px/1.4em Arial, sans-serif;
	width: 575px;
	margin-left: auto;
	margin-right:auto;
	}
	
.picture-large img { 
	border: 1px solid #CCCCCC;
	vertical-align:middle; margin-bottom: 3px; 
	max-width:565px;


		

	
	
	
	
	

	
